In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [44]:
len(data)

1890

# Предобработка датасета

In [76]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [45]:
answer_ls=[]

In [77]:
answer_ls.append(4)

In [6]:
max_budget = data[data.budget==data.budget.max()]
max_budget['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [78]:
answer_ls.append(2)

In [8]:
a = data.query('runtime==runtime.max()')
a.get('original_title')

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
a = data.query('runtime==runtime.min()')
a.get('original_title')

769    Winnie the Pooh
Name: original_title, dtype: object

In [79]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [80]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [81]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
data['income']=data['revenue'] - data['budget']
a = data[data.income==data.income.max()]
display(a)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [82]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:
data['income']=data['revenue'] - data['budget']
a = data[data.income==data.income.min()]
display(a)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [83]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
new_df=data[data.income > 0]
new_df.count()

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
income                  1478
dtype: int64

In [84]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [32]:
new_data = data[data.release_year == 2008]
display(new_data[new_data.income == new_data.income.max()])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [85]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [86]:
answer_ls.append(5)

In [40]:
new_data = data[(data.release_year >=2012) & (data.release_year <=2014)]
display(new_data[new_data.income == new_data.income.min()])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [87]:
answer_ls.append(1)

In [11]:
new_data=data.genres.apply(genres_list)

In [28]:
genres = {}
def genres_list(list_genres):
    new_list = list_genres.split('|')
    for i in new_list:
        if i in genres:
            genres[i] +=1
        else:
            genres[i] = 1
    return genres

In [14]:
display(new_data[0])

{'Action': 1169,
 'Adventure': 835,
 'Science Fiction': 499,
 'Thriller': 1197,
 'Fantasy': 446,
 'Crime': 630,
 'Western': 40,
 'Drama': 1564,
 'Family': 520,
 'Animation': 278,
 'Comedy': 1366,
 'Mystery': 336,
 'Romance': 616,
 'War': 116,
 'History': 124,
 'Music': 128,
 'Horror': 352,
 'Documentary': 16,
 'Foreign': 4}

In [56]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [26]:
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [29]:
genres = {}
display(data.query('income > 0').genres.apply(genres_list)[0])

{'Action': 444,
 'Adventure': 337,
 'Science Fiction': 195,
 'Thriller': 446,
 'Fantasy': 188,
 'Crime': 231,
 'Western': 12,
 'Drama': 560,
 'Family': 226,
 'Animation': 120,
 'Comedy': 551,
 'Mystery': 119,
 'Romance': 242,
 'War': 41,
 'History': 46,
 'Music': 47,
 'Horror': 150,
 'Documentary': 7}

In [88]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [37]:
directors_list={}
def directors_list_calc(director):
    new_list = director.split('|')
    for i in new_list:
        if i in directors_list:
            directors_list[i] +=1
        else:
            directors_list[i] =1
    return directors_list

In [38]:
director = 'Colin Trevorrow'
directors_list_calc(director)

{'Colin Trevorrow': 1}

In [5]:
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,397950503
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015,285603537
7,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015,487380321
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015,1082730962
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609
10,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,3254,6.2,2015,635674609
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015,7987720
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015,21869414
13,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,1575,5.8,2015,155637091
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015,1125035767
15,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,2389,7.4,2015,111760117
16,tt2446042,5.749758,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,1578,6.1,2015,277771424
17,tt0478970,5.573184,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,3779,7.0,2015,388602163
18,tt1661199,5.556818,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,1495,6.8,2015,447351353
19,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,2380,6.5,2015,490523427
20,tt1964418,5.462138,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,1899,6.2,2015,19035668
21,tt1798684,5.337064,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,1386,7.3,2015,61709827
22,tt2126355,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,2060,6.1,2015,360490832
23,tt2322441,4.710402,40000000,569651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,Sam Taylor-Johnson,Are you curious?,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2/11/2015,1865,5.3,2015,529651467
24,tt1596363,4.648046,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,1545,7.3,2015,105346506
25,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,2349,7.1,2015,532330139
26,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,1666,6.3,2015,147863606
27,tt2802144,4.503789,81000000,403802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,Matthew Vaughn,Manners maketh man.,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,1/24/2015,3833,7.6,2015,322802136
28,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,1559,7.8,2015,68346473
29,tt4046784,3.968891,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,1849,6.4,2015,250256926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,tt0134084,0.542611,40000000,161834276,Scream 3,David Arquette|Neve Campbell|Courteney Cox|Pat...,Wes Craven,Someone has taken their love of trilogies one ...,"A murdering spree begins to happen again, this...",116,Horror|Mystery,Konrad Pictures|Craven-Maddalena Films|Dimensi...,2/3/2000,390,5.6,2000,121834276
1861,tt0190865,0.530739,75000000,215663859,Vertical Limit,Chris O'Donnell|Robin Tunney|Bill Paxton|Scott...,Martin Campbell,The Mountain Will Decide.,"Trapped near the summit of K2, the world's sec...",124,Action|Adventure|Thriller,Columbia Pictures Corporation|Global Entertain...,12/8/2000,151,6.0,2000,140663859
1862,tt0184858,0.525341,42000000,32168970,Reindeer Games,Ben Affleck|Gary Sinise|Charlize Theron|Dennis...,John Frankenheimer,The trap is set. The game is on.,After assuming his dead cellmate's identity to...,124,Thriller,Dimension Films|Marty Katz Productions,2/25/2000,86,5.2,2000,-9831030
1863,tt0195945,0.492950,11000000,59827328,Next Friday,Ice Cube|Mike Epps|Justin Pierce|John Withersp...,Steve Carr,The suburbs make the hood look good.,"Ice Cube returns as Craig Jones, a streetwise ...",98,Comedy,New Line Cinema,1/12/2000,70,6.6,2000,48827328
1864,tt0219653,0.481089,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,73,4.7,2000,5000337
1865,tt0203019,0.465293,32000000,48814909,Men of Honor,Robert De Niro|Cuba Gooding Jr.|Charlize Thero...,"George Tillman, Jr.",History is made by those who break the rules.,Against formidable odds -- and an old-school d...,129,Drama,Fox 2000 Pictures,9/13/2000,341,7.0,2000,16814909
1866,tt0161081,0.464139,100000000,155464351,What Lies Beneath,Harrison Ford|Michelle Pfeiffer|Diana Scarwid|...,Robert Zemeckis,He was the perfect husband until his one mista...,When Claire Spencer starts hearing ghostly voi...,130,Drama|Horror|Mystery|Thriller,DreamWorks SKG|Twentieth Century Fox Film Corp...,7/21/2000,234,6.1,2000,55464351
1867,tt0160797,0.458778,60000000,71000000,Rules of Engagement,Tommy Lee Jones|Samuel L. Jackson|Guy Pearce|B...,William Friedkin,A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,Action|Adventure|Drama|History|War,Paramount Pictures|Seven Arts Pictures|Munich ...,4/7/2000,90,5.8,2000,11000000
1868,tt0181536,0.449041,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,12/21/2000,161,6.9,2000,37049764
1869,tt0204175,0.417675,16000000,20627372,Boys and Girls,Freddie Prinze Jr.|Claire Forlani|Jason Biggs|...,Robert Iscove,Warning: Sex Changes Everything,Ryan and Jennifer are opposites who definitely...,94,Comedy|Drama|Romance,Dimension Films,6/16/2000,53,5.3,2000,4627372
1870,tt0211181,0.410235,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,150,5.0,2000,98611771
1871,tt0144528,1.616724,84000000,123307945,Nutty Professor II: The Klumps,Eddie Murphy|Janet Jackson|Larry Miller|John A...,Peter Segal,The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,7/27/2000,168,4.8,2000,39307945
1872,tt0171433,0.623706,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,79,5.7,2000,7036004
1873,tt0134983,0.385350,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,42,4.7,2000,-75171919
1874,tt0160009,0.339608,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,8/23/2000,67,5.7,2000,-9800895
1875,tt0202402,0.350814,15000000,9902115,Whatever It Takes,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,David Raynr,How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,22,5.0,2000,-5097885
1876,tt0219854,0.349034,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,141,5.9,2000,4700000
1877,tt0144964,0.332267,25000000,15843608,Highlander: Endgame,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,Douglas Aarniokoski,It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,9/1/2000,49,4.3,2000,-9156392
1878,tt0199725,0.324003,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,54,7.3,2000,7728118
1879,tt0176783,0.310295,14000000,5108820,Gossip,Joshua Jackson|James Marsden|Kate Hudson|Lena ...,Davis Guggenheim,"It can turn you on, or turn on you.","On a beautiful college campus, something ugly ...",90,Drama|Mystery|Thriller,Warner Bros. Pictures,4/21/2000,34,5.3,2000,-8891180
1880,tt0180073,0.309754,13500000,7060876,Quills,Geoffrey Rush|Kate Winslet|Joaquin Phoenix|Mic...,Philip Kaufman,There are no bad words... only bad deeds.,"A nobleman with a literary flair, the Marquis ...",124,Drama,Fox Searchlight Pictures|Industry Entertainmen...,11/22/2000,52,6.4,2000,-6439124
1881,tt0190374,0.284476,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,86,3.9,2000,-19814759
1882,tt0213790,0.279624,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,14,5.4,2000,-10300000
1883,tt0217756,0.196668,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,16,4.4,2000,-11627590
1884,tt0122459,0.249219,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,32,5.5,2000,12609995
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [34]:
a = 'Pete Docter'
directors_list_calc(a)

{'Pete Docter': 1}

In [39]:
import operator
sorted_x = sorted(directors.items(), key=operator.itemgetter(1))
display(sorted_x)

NameError: name 'directors' is not defined

In [40]:
Counter(sorted(directors.values(), key=lambda t: t[0]))

NameError: name 'directors' is not defined

In [89]:
answer_ls.append(1)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
answer_ls.append(1)

In [43]:
directors_list={}
def directors_list_calc(director):
    new_list = director.split('|')
    for i in new_list:
        if i in directors_list:
            directors_list[i] +=1
        else:
            directors_list[i] =1
    return directors_list

In [44]:
data['director'] = data.director.apply(lambda x : x.split('|'))

In [45]:
directors_with_income = data.query('income >0').director.apply(directors_list_calc)[0]

AttributeError: 'list' object has no attribute 'split'

In [19]:
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,[Alejandro GonzÃ¡lez IÃ±Ã¡rritu],"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,397950503
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,[Alan Taylor],Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015,285603537
7,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,[Ridley Scott],Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015,487380321
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,"[Kyle Balda, Pierre Coffin]","Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015,1082730962
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609
10,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,[Sam Mendes],A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,3254,6.2,2015,635674609
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,"[Lana Wachowski, Lilly Wachowski]",Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015,7987720
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,[Alex Garland],There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015,21869414
13,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,[Chris Columbus],Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,1575,5.8,2015,155637091
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,[Joss Whedon],A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015,1125035767
15,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,[Quentin Tarantino],No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,2389,7.4,2015,111760117
16,tt2446042,5.749758,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,[Olivier Megaton],It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,1578,6.1,2015,277771424
17,tt0478970,5.573184,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,[Peyton Reed],Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,3779,7.0,2015,388602163
18,tt1661199,5.556818,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,[Kenneth Branagh],Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,1495,6.8,2015,447351353
19,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,[Francis Lawrence],The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,2380,6.5,2015,490523427
20,tt1964418,5.462138,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,[Brad Bird],Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,1899,6.2,2015,19035668
21,tt1798684,5.337064,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,[Antoine Fuqua],Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,1386,7.3,2015,61709827
22,tt2126355,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,[Brad Peyton],"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,2060,6.1,2015,360490832
23,tt2322441,4.710402,40000000,569651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,[Sam Taylor-Johnson],Are you curious?,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2/11/2015,1865,5.3,2015,529651467
24,tt1596363,4.648046,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,[Adam McKay],This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,1545,7.3,2015,105346506
25,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,[Christopher McQuarrie],Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,2349,7.1,2015,532330139
26,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,[Seth MacFarlane],"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,1666,6.3,2015,147863606
27,tt2802144,4.503789,81000000,403802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,[Matthew Vaughn],Manners maketh man.,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,1/24/2015,3833,7.6,2015,322802136
28,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,1559,7.8,2015,68346473
29,tt4046784,3.968891,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,[Wes Ball],The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,1849,6.4,2015,250256926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,tt0134084,0.542611,40000000,161834276,Scream 3,David Arquette|Neve Campbell|Courteney Cox|Pat...,[Wes Craven],Someone has taken their love of trilogies one ...,"A murdering spree begins to happen again, this...",116,Horror|Mystery,Konrad Pictures|Craven-Maddalena Films|Dimensi...,2/3/2000,390,5.6,2000,121834276
1861,tt0190865,0.530739,75000000,215663859,Vertical Limit,Chris O'Donnell|Robin Tunney|Bill Paxton|Scott...,[Martin Campbell],The Mountain Will Decide.,"Trapped near the summit of K2, the world's sec...",124,Action|Adventure|Thriller,Columbia Pictures Corporation|Global Entertain...,12/8/2000,151,6.0,2000,140663859
1862,tt0184858,0.525341,42000000,32168970,Reindeer Games,Ben Affleck|Gary Sinise|Charlize Theron|Dennis...,[John Frankenheimer],The trap is set. The game is on.,After assuming his dead cellmate's identity to...,124,Thriller,Dimension Films|Marty Katz Productions,2/25/2000,86,5.2,2000,-9831030
1863,tt0195945,0.492950,11000000,59827328,Next Friday,Ice Cube|Mike Epps|Justin Pierce|John Withersp...,[Steve Carr],The suburbs make the hood look good.,"Ice Cube returns as Craig Jones, a streetwise ...",98,Comedy,New Line Cinema,1/12/2000,70,6.6,2000,48827328
1864,tt0219653,0.481089,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,[Patrick Lussier],The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,73,4.7,2000,5000337
1865,tt0203019,0.465293,32000000,48814909,Men of Honor,Robert De Niro|Cuba Gooding Jr.|Charlize Thero...,"[George Tillman, Jr.]",History is made by those who break the rules.,Against formidable odds -- and an old-school d...,129,Drama,Fox 2000 Pictures,9/13/2000,341,7.0,2000,16814909
1866,tt0161081,0.464139,100000000,155464351,What Lies Beneath,Harrison Ford|Michelle Pfeiffer|Diana Scarwid|...,[Robert Zemeckis],He was the perfect husband until his one mista...,When Claire Spencer starts hearing ghostly voi...,130,Drama|Horror|Mystery|Thriller,DreamWorks SKG|Twentieth Century Fox Film Corp...,7/21/2000,234,6.1,2000,55464351
1867,tt0160797,0.458778,60000000,71000000,Rules of Engagement,Tommy Lee Jones|Samuel L. Jackson|Guy Pearce|B...,[William Friedkin],A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,Action|Adventure|Drama|History|War,Paramount Pictures|Seven Arts Pictures|Munich ...,4/7/2000,90,5.8,2000,11000000
1868,tt0181536,0.449041,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,[Gus Van Sant],"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,12/21/2000,161,6.9,2000,37049764
1869,tt0204175,0.417675,16000000,20627372,Boys and Girls,Freddie Prinze Jr.|Claire Forlani|Jason Biggs|...,[Robert Iscove],Warning: Sex Changes Everything,Ryan and Jennifer are opposites who definitely...,94,Comedy|Drama|Romance,Dimension Films,6/16/2000,53,5.3,2000,4627372
1870,tt0211181,0.410235,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,[Kevin Lima],Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,150,5.0,2000,98611771
1871,tt0144528,1.616724,84000000,123307945,Nutty Professor II: The Klumps,Eddie Murphy|Janet Jackson|Larry Miller|John A...,[Peter Segal],The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,7/27/2000,168,4.8,2000,39307945
1872,tt0171433,0.623706,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,[Edward Norton],"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,79,5.7,2000,7036004
1873,tt0134983,0.385350,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,"[Walter Hill, Jack Sholder]","In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,42,4.7,2000,-75171919
1874,tt0160009,0.339608,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,[Christian Duguay],Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,8/23/2000,67,5.7,2000,-9800895
1875,tt0202402,0.350814,15000000,9902115,Whatever It Takes,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,[David Raynr],How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,22,5.0,2000,-5097885
1876,tt0219854,0.349034,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,[Jon Turteltaub],Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,141,5.9,2000,4700000
1877,tt0144964,0.332267,25000000,15843608,Highlander: Endgame,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,[Douglas Aarniokoski],It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,9/1/2000,49,4.3,2000,-9156392
1878,tt0199725,0.324003,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",[Gina Prince-Bythewood],All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,54,7.3,2000,7728118
1879,tt0176783,0.310295,14000000,5108820,Gossip,Joshua Jackson|James Marsden|Kate Hudson|Lena ...,[Davis Guggenheim],"It can turn you on, or turn on you.","On a beautiful college campus, something ugly ...",90,Drama|Mystery|Thriller,Warner Bros. Pictures,4/21/2000,34,5.3,2000,-8891180
1880,tt0180073,0.309754,13500000,7060876,Quills,Geoffrey Rush|Kate Winslet|Joaquin Phoenix|Mic...,[Philip Kaufman],There are no bad words... only bad deeds.,"A nobleman with a literary flair, the Marquis ...",124,Drama,Fox Searchlight Pictures|Industry Entertainmen...,11/22/2000,52,6.4,2000,-6439124
1881,tt0190374,0.284476,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,[Courtney Solomon],This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,86,3.9,2000,-19814759
1882,tt0213790,0.279624,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,[Reginald Hudlin],He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,14,5.4,2000,-10300000
1883,tt0217756,0.196668,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,[Brian Robbins],They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,16,4.4,2000,-11627590
1884,tt0122459,0.249219,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,[Bonnie Hunt],A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,32,5.5,2000,12609995
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,[Bryan Singer],Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,[Uli Edel],"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,[Des McAnuff],This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,[Diane Keaton],Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,[Mary Lambert],What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [17]:
import pandas as pd
print(pd._version-_)

AttributeError: module 'pandas' has no attribute '_version_'

In [5]:
df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3, 4]], 'B': 1})
df

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [16]:
df.append(['baa', 2], axis =1)

TypeError: append() got an unexpected keyword argument 'axis'

In [15]:
df

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [58]:
import operator
sorted_x = sorted(directors_with_income.items(), key=operator.itemgetter(1))
display(sorted_x)

[('Colin Trevorrow', 1),
 ('Alex Garland', 1),
 ('Sam Taylor-Johnson', 1),
 ('Tom McCarthy', 1),
 ('Lenny Abrahamson', 1),
 ('Peter Sohn', 1),
 ('John Crowley', 1),
 ('Lee Toland Krieger', 1),
 ('Ilya Naishuller', 1),
 ('Jake Schreier', 1),
 ('Ericson Core', 1),
 ('Aleksander Bach', 1),
 ('Ryan Coogler', 1),
 ('Peter Landesman', 1),
 ('John Francis Daley', 1),
 ('Jonathan M. Goldstein', 1),
 ('Joel Edgerton', 1),
 ('Jocelyn Moorhouse', 1),
 ('Ari Sandel', 1),
 ('Ciaran Foy', 1),
 ('Doug Ellin', 1),
 ('Jeremy Garelick', 1),
 ('Michael Dougherty', 1),
 ('Dean Israelite', 1),
 ('Gregory Jacobs', 1),
 ('Gregory Plotkin', 1),
 ('Billy Ray', 1),
 ('Paul Tibbitt', 1),
 ('Leigh Whannell', 1),
 ('Nicholas Hytner', 1),
 ('David M. Rosenthal', 1),
 ('Etan Cohen', 1),
 ('Sarah Gavron', 1),
 ('Max Joseph', 1),
 ('Chad Stahelski', 1),
 ('David Leitch', 1),
 ('Don Hall', 1),
 ('Morten Tyldum', 1),
 ('Dan Gilroy', 1),
 ('Gareth Edwards', 1),
 ('Robert Stromberg', 1),
 ('Roger Donaldson', 1),
 ('Stiles White', 1),
 ('Patrick Hughes', 1),
 ('Sergey Bodrov', 1),
 ('James Marsh', 1),
 ('Gary Shore', 1),
 ('Scott Frank', 1),
 ('Paul King', 1),
 ('James DeMonaco', 1),
 ('Vic Armstrong', 1),
 ('R.J. Cutler', 1),
 ('Trish Sie', 1),
 ('Josh Boone', 1),
 ('JosÃ© Padilha', 1),
 ('Wally Pfister', 1),
 ('Angelina Jolie', 1),
 ('Ava DuVernay', 1),
 ('Michael Hoffman', 1),
 ('Theodore Melfi', 1),
 ('Graham Annable', 1),
 ('Brian A Miller', 1),
 ('Roberts Gannaway', 1),
 ('Sam Miller', 1),
 ('John R. Leonetti', 1),
 ('Stuart Beattie', 1),
 ('Tom Gormican', 1),
 ('Ben Falcone', 1),
 ('Christopher Spencer', 1),
 ('GrÃ©gory Levasseur', 1),
 ('Andrew Erwin', 1),
 ('Jon Erwin', 1),
 ('Dave Green', 1),
 ('Harold Cronk', 1),
 ('Matt Bettinelli-Olpin', 1),
 ('Tyler Gillett', 1),
 ('Patrick Tatopoulos', 1),
 ('Bob Peterson', 1),
 ('Shane Acker', 1),
 ('Ron Clements', 1),
 ('John Musker', 1),
 ('Henry Selick', 1),
 ('Richard Kelly', 1),
 ('Hoyt Yeatman', 1),
 ('Ricky Gervais', 1),
 ('Matthew Robinson', 1),
 ('Peter Billingsley', 1),
 ('Karyn Kusama', 1),
 ('Phil Traill', 1),
 ('Christian Alvart', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Brandon Camp', 1),
 ('Rajkumar Hirani', 1),
 ('Grant Heslov', 1),
 ('Jorge Blanco', 1),
 ('Javier Abad', 1),
 ('Marcos MartÃ\xadnez', 1),
 ('Troy Duffy', 1),
 ('John Schultz', 1),
 ('Olatunde Osunsanmi', 1),
 ('Mike Judge', 1),
 ('Daniel Barber', 1),
 ('Steve Shill', 1),
 ('Jonas Elmer', 1),
 ('Stewart Hendler', 1),
 ('Toby Wilkins', 1),
 ('Nathan Greno', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Ethan Maniquis', 1),
 ('Ryan Murphy', 1),
 ('Anand Tucker', 1),
 ('Alan Poul', 1),
 ('Josh Gordon', 1),
 ('Will Speck', 1),
 ('Troy Nixey', 1),
 ('Samuel Bayer', 1),
 ('Susanna White', 1),
 ('Steve Antin', 1),
 ('Nanette Burstein', 1),
 ('Greg Berlanti', 1),
 ('Colin Strause', 1),
 ('Greg Strause', 1),
 ('Jim Field Smith', 1),
 ('Anthony Bell', 1),
 ('Ben Gluck', 1),
 ('David Lynch', 1),
 ('Sharon Maguire', 1),
 ('Gary Trousdale', 1),
 ('Kirk Wise', 1),
 ('J.B. Rogers', 1),
 ('Ted Demme', 1),
 ('Jean-Jacques Annaud', 1),
 ('Joel Gallen', 1),
 ('Alejandro AmenÃ¡bar', 1),
 ('Lawrence Guterman', 1),
 ('Chris Nahon', 1),
 ('Jerry Zucker', 1),
 ('Robert Altman', 1),
 ('James Isaac', 1),
 ('John Dahl', 1),
 ('Simon Wincer', 1),
 ('Bill Paxton', 1),
 ('Dennie Gordon', 1),
 ('John Boorman', 1),
 ("Pat O'Connor", 1),
 ('Gregory Poirier', 1),
 ('Rob Pritts', 1),
 ('Francine McDougall', 1),
 ('DJ Pooh', 1),
 ('Pierre Morel', 1),
 ('John Stevenson', 1),
 ('Loveleen Tandan', 1),
 ('Tom Vaughan', 1),
 ('Mark Herman', 1),
 ('Jeff Wadlow', 1),
 ('Pete Travis', 1),
 ('David Wain', 1),
 ('Peter Sollett', 1),
 ('Fred Wolf', 1),
 ('David Hackl', 1),
 ('Jon Avnet', 1),
 ('Bryan Bertino', 1),
 ('Chris Carter', 1),
 ('John Patrick Shanley', 1),
 ('Paul Weiland', 1),
 ('David Moreau', 1),
 ('Xavier Palud', 1),
 ('Michael McCullers', 1),
 ('Howard Deutch', 1),
 ('Jennifer Flackett', 1),
 ('Mark Levin', 1),
 ('Anthony Leondis', 1),
 ('Nicolas Winding Refn', 1),
 ('Jennifer Yuh', 1),
 ('Brad Lewis', 1),
 ('Terrence Malick', 1),
 ('Michel Hazanavicius', 1),
 ('George Nolfi', 1),
 ('Tom Hanks', 1),
 ('Mark Mylod', 1),
 ('Chris Gorak', 1),
 ('Tate Taylor', 1),
 ('Christian E. Christiansen', 1),
 ('Oliver Parker', 1),
 ('Daniel Barnz', 1),
 ('Todd Strauss-Schulson', 1),
 ('Gonzalo LÃ³pez-Gallego', 1),
 ('John Michael McDonagh', 1),
 ('Jesse Peretz', 1),
 ('Jason Winer', 1),
 ('Alister Grierson', 1),
 ('Douglas McGrath', 1),
 ('Sean McNamara', 1),
 ('Joe Nussbaum', 1),
 ('Benny Chan', 1),
 ('Corey Yuen Kwai', 1),
 ('Curtis Hanson', 1),
 ('Joel Zwick', 1),
 ('Stuart Baird', 1),
 ('Steve Beck', 1),
 ('Lorna Cook', 1),
 ('Chuck Russell', 1),
 ('Julie Taymor', 1),
 ('Barbet Schroeder', 1),
 ('Simon Wells', 1),
 ('Adrian Lyne', 1),
 ('Michael Rymer', 1),
 ('Marcus Raboy', 1),
 ('Robin Budd', 1),
 ('Donovan Cook', 1),
 ('Mark Romanek', 1),
 ('Mark Pellington', 1),
 ('Jonathan Frakes', 1),
 ('Rick Rosenthal', 1),
 ('Tamra Davis', 1),
 ('Charles Stone III', 1),
 ('Kevin Bray', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Mark Andrews', 1),
 ('Steve Purcell', 1),
 ('Brenda Chapman', 1),
 ('Rupert Sanders', 1),
 ('Mike Thurmeier', 1),
 ('Juan Antonio Bayona', 1),
 ('Rich Moore', 1),
 ('Stephen Chbosky', 1),
 ('Drew Goddard', 1),
 ('Peter Ramsey', 1),
 ('Michael Sucsy', 1),
 ('Rian Johnson', 1),
 ('Scott Speer', 1),
 ('Mike McCoy', 1),
 ('Nima Nourizadeh', 1),
 ('John Hillcoat', 1),
 ('Jeff Newitt', 1),
 ('Stephen St. Leger', 1),
 ('James Mather', 1),
 ('James Watkins', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('John Gulager', 1),
 ('Ole Bornedal', 1),
 ('Michael J. Bassett', 1),
 ('Andrew Dominik', 1),
 ('Nicholas Jarecki', 1),
 ('Dustin Hoffman', 1),
 ('Sam Fell', 1),
 ('Chris Butler', 1),
 ('Brian Klugman', 1),
 ('Lee Sternthal', 1),
 ('Dan Cutforth', 1),
 ('Jane Lipsitz', 1),
 ('Tom Shadyac', 1),
 ('Richard Curtis', 1),
 ('Stephen Norrington', 1),
 ('Steve Trenbirth', 1),
 ('Terry Zwigoff', 1),
 ('Peter Howitt', 1),
 ('Jan de Bont', 1),
 ('Rob Schmidt', 1),
 ('Peter Weir', 1),
 ('Jon Amiel', 1),
 ('Charles Herman-Wurmfeld', 1),
 ('Anthony Minghella', 1),
 ('Ronny Yu', 1),
 ('Kevin Costner', 1),
 ('Jim Fall', 1),
 ('Lawrence Kasdan', 1),
 ('Patty Jenkins', 1),
 ('Troy Miller', 1),
 ('Uwe Boll', 1),
 ('Mike Tollin', 1),
 ('FranÃ§ois Ozon', 1),
 ('Christopher Guest', 1),
 ('Christine Jeffs', 1),
 ('Jennifer Lee', 1),
 ('Shane Black', 1),
 ('Steve McQueen', 1),
 ('Dan Scanlon', 1),
 ('Tommy Wirkola', 1),
 ('Jean-Marc VallÃ©e', 1),
 ('Klay Hall', 1),
 ('Harmony Korine', 1),
 ('Fede Alvarez', 1),
 ('Derek Cianfrance', 1),
 ('Kimberly Peirce', 1),
 ('John Carney', 1),
 ('Ken Scott', 1),
 ('Seth Rogen', 1),
 ('Evan Goldberg', 1),
 ('Mike Flanagan', 1),
 ('David Soren', 1),
 ('Andy Muschietti', 1),
 ('Rusty Cundieff', 1),
 ('James Duffy', 1),
 ('Griffin Dunne', 1),
 ('Patrik Forsberg', 1),
 ('Will Graham', 1),
 ('Jonathan van Tulleken', 1),
 ('Scott Moore', 1),
 ('Jon Lucas', 1),
 ('Callan Brunker', 1),
 ('Amma Asante', 1),
 ('Cody Cameron', 1),
 ('Kris Pearn', 1),
 ('Giuseppe Tornatore', 1),
 ('Jeff Nichols', 1),
 ('Jonathan Teplitzky', 1),
 ('Neil Nightingale', 1),
 ('Barry Cook', 1),
 ('Ric Roman Waugh', 1),
 ('David E. Talbert', 1),
 ('Christopher B. Landon', 1),
 ('Joshua Michael Stern', 1),
 ('Anthony Silverston', 1),
 ('Ed Gass-Donnelly', 1),
 ('Oliver Hirschbiegel', 1),
 ('Fyodor Bondarchuk', 1),
 ('Frank Miller', 1),
 ('Garth Jennings', 1),
 ('Rob Bowman', 1),
 ('Mike Johnson', 1),
 ('Steve Box', 1),
 ('Angela Robinson', 1),
 ('Cory Edwards', 1),
 ('Todd Edwards', 1),
 ('Tony Leech', 1),
 ('John Polson', 1),
 ('Sydney Pollack', 1),
 ('Terry Gilliam', 1),
 ('Florent-Emilio Siri', 1),
 ('Jay Chandrasekhar', 1),
 ('Stephen Gaghan', 1),
 ('Frederik Du Chau', 1),
 ('Andrew Douglas', 1),
 ('Dean Parisot', 1),
 ('Jean-FranÃ§ois Richet', 1),
 ('Jim Jarmusch', 1),
 ('George A. Romero', 1),
 ('Rupert Wainwright', 1),
 ('Clare Kilner', 1),
 ('Richard Shepard', 1),
 ('Fernando Meirelles', 1),
 ('Geoffrey Sax', 1),
 ('Stephen Kay', 1),
 ('Joe Ranft', 1),
 ('Spike Lee', 1),
 ('Karey Kirkpatrick', 1),
 ('Frank Marshall', 1),
 ('Christophe Gans', 1),
 ('Stefen Fangmeier', 1),
 ('Alejandro Agresti', 1),
 ("Matthew O'Callaghan", 1),
 ('Jared Hess', 1),
 ('Jonathan Dayton', 1),
 ('Valerie Faris', 1),
 ('Greg Coolidge', 1),
 ('Roger Allers', 1),
 ('Jill Culton', 1),
 ('Steve Oedekerk', 1),
 ('Chris Noonan', 1),
 ('John Bonito', 1),
 ('Liz Friedlander', 1),
 ('Elizabeth Allen Rosenbaum', 1),
 ('Richard Donner', 1),
 ('Richard Eyre', 1),
 ('Barry Levinson', 1),
 ('Renny Harlin', 1),
 ('Sanjay Gadhvi', 1),
 ('Glen Morgan', 1),
 ('Phil Joanou', 1),
 ('Mira Nair', 1),
 ('Rachid Bouchareb', 1),
 ('William Brent Bell', 1),
 ('Doug Atchison', 1),
 ('Eric Bress', 1),
 ('J. Mackye Gruber', 1),
 ('Alexander Witt', 1),
 ('Brad Silberling', 1),
 ('Peter Hewitt', 1),
 ('Bibo Bergeron', 1),
 ('Stephen Hillenburg', 1),
 ('Mark Rosman', 1),
 ('Rawson Marshall Thurber', 1),
 ('Jonathan Hensleigh', 1),
 ('David Koepp', 1),
 ('Don Mancini', 1),
 ('Terry George', 1),
 ('Trey Parker', 1),
 ('Sara Sugarman', 1),
 ('Guy Ferland', 1),
 ('Joseph Ruben', 1),
 ('Nick Hamm', 1),
 ('Joseph Kahn', 1),
 ("Gavin O'Connor", 1),
 ('Kevin Allen', 1),
 ('Christopher Erskin', 1),
 ('Jan Pinkava', 1),
 ('Frank Darabont', 1),
 ('Sean Penn', 1),
 ('GÃ¡bor CsupÃ³', 1),
 ('Paul Thomas Anderson', 1),
 ('Raman Hui', 1),
 ('Steve Hickner', 1),
 ('Stephen J. Anderson', 1),
 ('Kevin Munroe', 1),
 ('Juan Carlos Fresnadillo', 1),
 ('Steve Bendelack', 1),
 ('Bruce A. Evans', 1),
 ('Robert Redford', 1),
 ('Kirsten Sheridan', 1),
 ('Philip G. Atwell', 1),
 ('Mennan Yapo', 1),
 ('Scott Hicks', 1),
 ('Ash Brannon', 1),
 ('Xavier Gens', 1),
 ('David Schwimmer', 1),
 ('Eli Roth', 1),
 ('Dave Meyers', 1),
 ('Julian Jarrold', 1),
 ('Shekhar Kapur', 1),
 ('Sidney Lumet', 1),
 ('Fred Savage', 1),
 ('Russell Mulcahy', 1),
 ('Michael Winterbottom', 1),
 ('Stephen Hopkins', 1),
 ('James Foley', 1),
 ('Mark Helfrich', 1),
 ('Jon Kasdan', 1),
 ('Shari Springer Berman', 1),
 ('Robert Pulcini', 1),
 ('James Gray', 1),
 ('Peter Hedges', 1),
 ('Alastair Fothergill', 1),
 ('Mark Linfield', 1),
 ('Wong Kar-wai', 1),
 ('Sylvain White', 1),
 ('Chris Rock', 1),
 ('Peter Webber', 1),
 ('Feng Xiaogang', 1),
 ('Ben Garant', 1),
 ('Ralph Zondag', 1),
 ('Eric Leighton', 1),
 ('David McNally', 1),
 ('Ben Younger', 1),
 ('Gregory Hoblit', 1),
 ('Mimi Leder', 1),
 ('Paul Verhoeven', 1),
 ('Mary Harron', 1),
 ('Lars von Trier', 1),
 ('Roger Spottiswoode', 1),
 ('Jonathan Lynn', 1),
 ('William Friedkin', 1),
 ('Robert Iscove', 1),
 ('Edward Norton', 1),
 ('Bonnie Hunt', 1),
 ('Alan Taylor', 2),
 ('Kyle Balda', 2),
 ('Joss Whedon', 2),
 ('Kenneth Branagh', 2),
 ('Christopher McQuarrie', 2),
 ('Seth MacFarlane', 2),
 ('Wes Ball', 2),
 ('Elizabeth Banks', 2),
 ('Breck Eisner', 2),
 ('Tim Johnson', 2),
 ('Todd Haynes', 2),
 ('John Wells', 2),
 ('Denis Villeneuve', 2),
 ('Josh Trank', 2),
 ('Glenn Ficarra', 2),
 ('John Requa', 2),
 ('George Tillman, Jr.', 2),
 ('Genndy Tartakovsky', 2),
 ('Jessie Nelson', 2),
 ('Gil Kenan', 2),
 ('Sean Anders', 2),
 ('Mark Osborne', 2),
 ('Scott Cooper', 2),
 ('Simon Curtis', 2),
 ('Jason Moore', 2),
 ('Camille Delamarre', 2),
 ('Jonathan Demme', 2),
 ('Mike Binder', 2),
 ('James Gunn', 2),
 ('Joe Russo', 2),
 ('Anthony Russo', 2),
 ('Chris Williams', 2),
 ('Luc Besson', 2),
 ('Jake Kasdan', 2),
 ('Simon J. Smith', 2),
 ('Noam Murro', 2),
 ('Phillip Noyce', 2),
 ('Scott Waugh', 2),
 ('Anthony Stacchi', 2),
 ('Steven Quale', 2),
 ('Shana Feste', 2),
 ('Miguel Arteta', 2),
 ('Craig Gillespie', 2),
 ('Charles Martin Smith', 2),
 ('James Bobin', 2),
 ('Rupert Wyatt', 2),
 ('James Cameron', 2),
 ('Burr Steers', 2),
 ('Alex Proyas', 2),
 ('Duncan Jones', 2),
 ('P.J. Hogan', 2),
 ('Jim Sheridan', 2),
 ('Nora Ephron', 2),
 ('Betty Thomas', 2),
 ('Gary Winick', 2),
 ('Lee Daniels', 2),
 ('David S. Goyer', 2),
 ('John Hamburg', 2),
 ('Paul McGuigan', 2),
 ('Kevin Greutert', 2),
 ('Harold Ramis', 2),
 ('Patrick Lussier', 2),
 ('Walt Becker', 2),
 ('Lone Scherfig', 2),
 ('Marcus Nispel', 2),
 ('Joseph Kosinski', 2),
 ('Byron Howard', 2),
 ('Michael Apted', 2),
 ('Mike Newell', 2),
 ('Albert Hughes', 2),
 ('Allen Hughes', 2),
 ('David Slade', 2),
 ('Scott Stewart', 2),
 ('Michael Patrick King', 2),
 ('John Luessenhop', 2),
 ('Roger Michell', 2),
 ('Michael Lembeck', 2),
 ('John Madden', 2),
 ('Brian Levant', 2),
 ('Neil LaBute', 2),
 ('Tom Dey', 2),
 ('Eric Brevig', 2),
 ('Roger Kumble', 2),
 ('David Silverman', 2),
 ('Vicky Jenson', 2),
 ('Baz Luhrmann', 2),
 ('John A. Davis', 2),
 ('Cameron Crowe', 2),
 ('Victor Salva', 2),
 ('Lee Tamahori', 2),
 ('Iain Softley', 2),
 ('Ivan Reitman', 2),
 ('Frank Oz', 2),
 ('John Stockwell', 2),
 ('Catherine Hardwicke', 2),
 ('Phyllida Lloyd', 2),
 ('Timur Bekmambetov', 2),
 ('Kathryn Bigelow', 2),
 ('Scott Derrickson', 2),
 ('Gabriele Muccino', 2),
 ('David Gordon Green', 2),
 ('Mathieu Kassovitz', 2),
 ('Martin McDonagh', 2),
 ('Jon Hurwitz', 2),
 ('Hayden Schlossberg', 2),
 ('Jimmy Hayward', 2),
 ('Gus Van Sant', 2),
 ('Gina Prince-Bythewood', 2),
 ('Kirk De Micco', 2),
 ('Andrew Niccol', 2),
 ('John Lasseter', 2),
 ('Brad Furman', 2),
 ('Bennett Miller', 2),
 ('Chris Miller', 2),
 ('Michel Gondry', 2),
 ('David Bowers', 2),
 ('Craig Brewer', 2),
 ('Henry Joost', 2),
 ('Ariel Schulman', 2),
 ('John Whitesell', 2),
 ('Salim Akil', 2),
 ('George Lucas', 2),
 ('Wayne Wang', 2),
 ('Spike Jonze', 2),
 ('Carl Franklin', 2),
 ('Denzel Washington', 2),
 ('Tony Gilroy', 2),
 ('David O. Russell', 2),
 ('Gary Ross', 2),
 ('Kirk Jones', 2),
 ('Larry Charles', 2),
 ('Peter Lord', 2),
 ('Mark Steven Johnson', 2),
 ('David Zucker', 2),
 ('Bille Woodruff', 2),
 ('Richard Linklater', 2),
 ('Clark Johnson', 2),
 ('John Woo', 2),
 ('Nigel Cole', 2),
 ('Chris Buck', 2),
 ('Alfonso CuarÃ³n', 2),
 ('Brad Anderson', 2),
 ('Taylor Hackford', 2),
 ('Sofia Coppola', 2),
 ('Mark Dindal', 2),
 ('Nick Park', 2),
 ('Rob Reiner', 2),
 ('Kevin Rodney Sullivan', 2),
 ('James Wong', 2),
 ('Mel Gibson', 2),
 ('Darren Lynn Bousman', 2),
 ('Takashi Shimizu', 2),
 ('Richard Loncraine', 2),
 ('Danny Leiner', 2),
 ('Mike Nichols', 2),
 ('Michael Moore', 2),
 ('Jay Russell', 2),
 ('Richard LaGravenese', 2),
 ('Kevin Lima', 2),
 ('George Miller', 3),
 ('Robert Schwentke', 3),
 ('James Wan', 3),
 ('Pierre Coffin', 3),
 ('Pete Docter', 3),
 ('Brad Peyton', 3),
 ('Neill Blomkamp', 3),
 ('Baltasar KormÃ¡kur', 3),
 ('Tom Hooper', 3),
 ('Paul Feig', 3),
 ('Gavin Hood', 3),
 ('Brian Helgeland', 3),
 ('Steve Martino', 3),
 ('Jonathan Levine', 3),
 ('David Ayer', 3),
 ('Neil Burger', 3),
 ('Jonathan Liebesman', 3),
 ('Matt Reeves', 3),
 ('Marc Webb', 3),
 ('Dean DeBlois', 3),
 ('Darren Aronofsky', 3),
 ('Frank Coraci', 3),
 ('Will Gluck', 3),
 ('Steve Pink', 3),
 ('Thomas Carter', 3),
 ('Randall Wallace', 3),
 ('McG', 3),
 ('John Lee Hancock', 3),
 ('Ruben Fleischer', 3),
 ('Chris Weitz', 3),
 ('Stephen Sommers', 3),
 ('Mark Neveldine', 3),
 ('Brian Taylor', 3),
 ('Conrad Vernon', 3),
 ('Michael Mann', 3),
 ('Kevin Macdonald', 3),
 ('James McTeigue', 3),
 ('NimrÃ³d Antal', 3),
 ('Tom Tykwer', 3),
 ('Rob Zombie', 3),
 ('Peter Chelsom', 3),
 ('Greg Mottola', 3),
 ('Jonathan Mostow', 3),
 ('Thor Freudenthal', 3),
 ('Marc Lawrence', 3),
 ('Chris Renaud', 3),
 ('Sylvester Stallone', 3),
 ('Chris Sanders', 3),
 ('Lee Unkrich', 3),
 ('Paul Weitz', 3),
 ('Mike Mitchell', 3),
 ('Joe Carnahan', 3),
 ('Ben Affleck', 3),
 ('Jon M. Chu', 3),
 ('Harald Zwart', 3),
 ('Roman Polanski', 3),
 ('Paul Haggis', 3),
 ('Alexandre Aja', 3),
 ('Tyler Perry', 3),
 ('Ben Stiller', 3),
 ('Dominic Sena', 3),
 ('Gary Fleder', 3),
 ('Brian Robbins', 3),
 ('Andrzej Bartkowiak', 3),
 ('Jesse Dylan', 3),
 ('Tim Hill', 3),
 ('Joe Johnston', 3),
 ('Andrew Stanton', 3),
 ('David Frankel', 3),
 ('Seth Gordon', 3),
 ('Woody Allen', 3),
 ('Bill Condon', 3),
 ('Wes Craven', 3),
 ('Stephen Daldry', 3),
 ('Joe Wright', 3),
 ('Kelly Asbury', 3),
 ('David Cronenberg', 3),
 ('Chris Wedge', 3),
 ('Barry Sonnenfeld', 3),
 ('Steven Brill', 3),
 ('Joel Schumacher', 3),
 ('Jeff Tremaine', 3),
 ('Ang Lee', 3),
 ('Stephen Frears', 3),
 ('Wolfgang Petersen', 3),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 4),
 ('Lana Wachowski', 4),
 ('Lilly Wachowski', 4),
 ('Chris Columbus', 4),
 ('Olivier Megaton', 4),
 ('Peyton Reed', 4),
 ('Brad Bird', 4),
 ('Matthew Vaughn', 4),
 ('Rob Letterman', 4),
 ('Tarsem Singh', 4),
 ('Judd Apatow', 4),
 ('John Erick Dowdle', 4),
 ('Boaz Yakin', 4),
 ('Anne Fletcher', 4),
 ('Ken Kwapis', 4),
 ('Wes Anderson', 4),
 ('Phil Lord', 4),
 ('Christopher Miller', 4),
 ('Luke Greenfield', 4),
 ('Eric Darnell', 4),
 ('Rob Marshall', 4),
 ('David Dobkin', 4),
 ('Nicholas Stoller', 4),
 ('Nick Cassavetes', 4),
 ('Rob Minkoff', 4),
 ('George Clooney', 4),
 ('David Yates', 4),
 ('David R. Ellis', 4),
 ('Ethan Coen', 4),
 ('David Twohy', 4),
 ('Jason Reitman', 4),
 ('Justin Lin', 4),
 ('Donald Petrie', 4),
 ('Tom McGrath', 4),
 ('Edward Zwick', 4),
 ('Andy Tennant', 4),
 ('Garry Marshall', 4),
 ('Jason Friedberg', 4),
 ('Aaron Seltzer', 4),
 ('Kevin Smith', 4),
 ('Jay Roach', 4),
 ('Andrew Adamson', 4),
 ('Simon West', 4),
 ('Keenen Ivory Wayans', 4),
 ('John Moore', 4),
 ('Rob Cohen', 4),
 ('D.J. Caruso', 4),
 ('Mark Waters', 4),
 ('Malcolm D. Lee', 4),
 ('Martin Campbell', 4),
 ('Mikael HÃ¥fstrÃ¶m', 4),
 ('Alexander Payne', 4),
 ('Len Wiseman', 4),
 ('Paul Greengrass', 4),
 ('J.J. Abrams', 5),
 ('Sam Mendes', 5),
 ('Jaume Collet-Serra', 5),
 ('F. Gary Gray', 5),
 ('Guy Ritchie', 5),
 ('Nancy Meyers', 5),
 ('Guillermo del Toro', 5),
 ('Bryan Singer', 5),
 ('Doug Liman', 5),
 ('Jon Favreau', 5),
 ('Carlos Saldanha', 5),
 ('Lasse HallstrÃ¶m', 5),
 ('Roland Emmerich', 5),
 ('Robert Luketic', 5),
 ('Steve Carr', 5),
 ('Tony Scott', 5),
 ('Martin Scorsese', 5),
 ('Danny Boyle', 5),
 ('Jon Turteltaub', 5),
 ('James Mangold', 5),
 ('Oliver Stone', 5),
 ('John Singleton', 5),
 ('Marc Forster', 5),
 ('Peter Berg', 5),
 ('Quentin Tarantino', 6),
 ('Francis Lawrence', 6),
 ('Adam McKay', 6),
 ('Robert Zemeckis', 6),
 ('Andy Fickman', 6),
 ('David Fincher', 6),
 ('Tim Story', 6),
 ('Zack Snyder', 6),
 ('Ron Howard', 6),
 ('Sam Raimi', 6),
 ('Joel Coen', 6),
 ('Louis Leterrier', 6),
 ('Dennis Dugan', 6),
 ('Paul W.S. Anderson', 6),
 ('Gore Verbinski', 6),
 ('Peter Segal', 6),
 ('Raja Gosnell', 6),
 ('M. Night Shyamalan', 7),
 ('Bobby Farrelly', 7),
 ('Todd Phillips', 7),
 ('Adam Shankman', 7),
 ('Antoine Fuqua', 8),
 ('Christopher Nolan', 8),
 ('Peter Jackson', 8),
 ('Michael Bay', 8),
 ('Brett Ratner', 8),
 ('Peter Farrelly', 8),
 ('Robert Rodriguez', 8),
 ('Shawn Levy', 9),
 ('Tim Burton', 9),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Ridley Scott', 12)]

In [90]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [18]:
new_df = data.explode('director')
grouped_df = new_df.groupby(['director']).sum()
display(grouped_df.sort_values('income'))

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,income
director,,,,,,,,
Sngmoo Lee,0.250540,425000000,11087569,100,74,6.4,2010,-413912431
James L. Brooks,1.682857,200000000,103710274,251,351,10.5,4014,-96289726
Ron Underwood,0.912373,100000000,7103973,95,75,4.6,2002,-92896027
Peter Hyams,0.818466,120000000,33043455,214,90,9.9,4006,-86956545
David Bowers|Sam Fell,1.390297,149000000,64459316,85,488,6.0,2006,-84540684
...,...,...,...,...,...,...,...,...
Michael Bay,15.241191,1126000000,3886938960,1209,13854,50.0,16063,2760938960
J.J. Abrams,24.004784,740000000,3579169916,633,14962,35.1,10054,2839169916
Christopher Nolan,61.560756,1005000000,4167548502,1135,41561,61.1,16057,3162548502
David Yates,20.506537,775000000,4154295625,567,13819,29.6,8037,3379295625
Peter Jackson,45.679675,1288000000,6490593685,1355,31197,58.1,16059,5202593685

In [91]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [47]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360

In [67]:
def cast_list(x):
    list_cast = x.split('|')
    return list_cast

In [49]:
data['cast'] = data.cast.apply(cast_list)
new_df = data.explode('cast')

In [50]:
display(new_df.sort_values('income'))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Bryce Dallas Howard,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Irrfan Khan,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Vincent D'Onofrio,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Nick Robinson,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Lori Heuring,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Matthew Settle,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Nathan Bexton,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Tess Harper,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [53]:
x = ['abc']
y = x[0]
print(y)

abc

In [56]:
grouped_data = new_df.groupby(['cast']).sum()
display(grouped_data.sort_values('income'))

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,income
cast,,,,,,,,
Jang Dong-gun,0.250540,425000000,11087569,100,74,6.4,2010,-413912431
Ti Lung,0.250540,425000000,11087569,100,74,6.4,2010,-413912431
Kate Bosworth,3.235636,515000000,145544332,541,1175,30.2,10034,-369455668
Emilio EchevarrÃ­a,0.948560,145000000,25819961,137,60,5.9,2004,-119180039
Elisabeth Harnois,0.921653,150000000,38992758,88,129,5.5,2011,-111007242
...,...,...,...,...,...,...,...,...
Robert Downey Jr.,45.467071,1702300000,7018330161,1948,42918,106.1,32147,5316030161
Ian McKellen,54.110613,1935000000,8022375777,1738,42756,84.6,24080,6087375777
Rupert Grint,47.419739,1288000000,7696638290,1276,28599,64.8,18059,6408638290
Daniel Radcliffe,49.813471,1348000000,7862990281,1475,30083,77.0,22089,6514990281
Emma Watson,52.428017,1493000000,8159245597,1609,32702,82.8,24096,6666245597

In [92]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [62]:
a = new_df[new_df.release_year == 2012]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Chris Evans,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Mark Ruffalo,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Chris Hemsworth,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Scarlett Johansson,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Katy Perry,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Russell Brand,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Shannon Woodward,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Rachael Markarian,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Mia Moretti,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,63,6.5,2012,20726956

In [93]:
answer_ls.append(3)

In [66]:
grouped_data = new_df[new_df.budget > new_df.budget.mean()].groupby(['cast']).count()
display(grouped_data.sort_values('income'))

,imdb_id,popularity,budget,revenue,original_title,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
cast,,,,,,,,,,,,,,,,
50 Cent,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Lena Olin,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Lennie James,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Leonard Nimoy,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Leslie Bibb,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tom Cruise,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Eddie Murphy,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Angelina Jolie,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Adam Sandler,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Matt Damon,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18

In [64]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [96]:
answer_ls.append(1)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [97]:
answer_ls.append(2)

In [65]:
df_cage = new_df[new_df.cast == 'Nicolas Cage']
df_cage['genres'] = df_cage.genres.apply(cast_list)

NameError: name 'cast_list' is not defined

In [66]:
grouped_df = df_cage.groupby(['genres']).count()
display(grouped_df)

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, production_companies, release_date, vote_count, vote_average, release_year, income]
Index: []

In [98]:
answer_ls.append(1)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [69]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360

In [70]:
data['production_companies'] = data.production_companies.apply(cast_list)
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,"[Universal Studios, Amblin Entertainment, Lege...",6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,"[Village Roadshow Pictures, Kennedy Miller Pro...",5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,"[Summit Entertainment, Mandeville Films, Red W...",3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,"[Lucasfilm, Truenorth Productions, Bad Robot]",12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,"[Universal Pictures, Original Film, Media Righ...",4/1/2015,2947,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,"[Twentieth Century Fox Film Corporation, Donne...",7/13/2000,2766,6.6,2000,82299717
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,[New Line Cinema],10/27/2000,42,6.4,2000,-8444012
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,"[Universal Pictures, Capella International, KC...",6/30/2000,35,4.0,2000,-40865180
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,"[Laurence Mark Productions, Columbia Pictures ...",2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,[Warner Bros. Pictures],7/19/2000,12,5.2,2000,-9782502

In [95]:
grouped_df = new_df[new_df.release_year == 2015]

In [98]:
new_df = data.explode('production_companies')
grouped_df = new_df[new_df.release_year == 2015].groupby('production_companies').count()
display(grouped_df.sort_values('income'))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,release_date,vote_count,vote_average,release_year,income
production_companies,,,,,,,,,,,,,,,,
3 Arts Entertainment,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Mid Atlantic Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Miramax Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Moonlighting Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Nickelodeon Animation Studios,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Columbia Pictures,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Paramount Pictures,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Twentieth Century Fox Film Corporation,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Universal Pictures,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Warner Bros.,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12

In [99]:
answer_ls.append(4)

In [99]:
new_df = data.explode('production_companies')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,5562,6.5,2015,1363528810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [102]:
new_df['genres'] = new_df.genres.apply(cast_list)
new_df = new_df.explode('genres')

In [103]:
display(new_df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Adventure,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Science Fiction,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Thriller,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action,Amblin Entertainment,6/9/2015,5562,6.5,2015,1363528810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy,Global Entertainment Productions GmbH & Compan...,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy,Nora Ephron Productions,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Drama,Nora Ephron Productions,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [73]:
new_df[new_df.genres == 'Comedy']

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
26,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,1666,6.3,2015,147863606
46,tt2361509,2.814802,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/2015,1255,7.1,2015,159564672
61,tt3152624,2.317670,35000000,140795793,Trainwreck,Amy Schumer|Bill Hader|Brie Larson|Colin Quinn...,Judd Apatow,We All Know One.,Having thought that monogamy was never possibl...,125,Comedy,Universal Pictures|Fuji Television Network|Den...,7/17/2015,849,6.1,2015,105795793
67,tt3530002,2.096273,25000000,52395996,The Night Before,Joseph Gordon-Levitt|Seth Rogen|Anthony Mackie...,Jonathan Levine,"Their past, present and future. All in one night.",In New York City for their annual tradition of...,100,Comedy,Sony Pictures|Point Grey Pictures|Good Universe,11/20/2015,363,6.1,2015,27395996
76,tt1528854,1.904898,50000000,240360392,Daddy's Home,Will Ferrell|Mark Wahlberg|Linda Cardellini|Th...,Sean Anders,Choose your Daddy,The story of a mild-mannered radio executive (...,96,Comedy,Paramount Pictures|Gary Sanchez Productions|Go...,12/25/2015,568,5.7,2015,190360392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1838,tt0242423,0.912320,13000000,73180723,"Dude, Whereâ€™s My Car?",Ashton Kutcher|Seann William Scott|Kristy Swan...,Danny Leiner,"After a night they can't remember, comes a day...","Jesse and Chester, two bumbling stoners, wake ...",83,Comedy,Twentieth Century Fox Film Corporation|Alcon E...,12/15/2000,287,5.1,2000,60180723
1842,tt0183505,0.783530,51000000,149270999,"Me, Myself & Irene",Jim Carrey|RenÃ©e Zellweger|Anthony Anderson|R...,Peter Farrelly|Bobby Farrelly,From gentle to mental.,Rhode Island State Trooper Charlie Baileygates...,116,Comedy,Twentieth Century Fox Film Corporation|Conundr...,6/22/2000,521,5.9,2000,98270999
1847,tt0204946,0.736173,28000000,90449929,Bring It On,Kirsten Dunst|Jesse Bradford|Huntley Ritter|El...,Peyton Reed,May the best moves win.,The Toro cheerleading squad from Rancho Carne ...,98,Comedy,Beacon Communications,8/25/2000,409,5.7,2000,62449929
1863,tt0195945,0.492950,11000000,59827328,Next Friday,Ice Cube|Mike Epps|Justin Pierce|John Withersp...,Steve Carr,The suburbs make the hood look good.,"Ice Cube returns as Craig Jones, a streetwise ...",98,Comedy,New Line Cinema,1/12/2000,70,6.6,2000,48827328
1872,tt0171433,0.623706,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,79,5.7,2000,7036004

In [74]:
group_df = new_df[new_df.genres == 'Comedy'].groupby('production_companies').sum()
display(group_df.sort_values('income'))

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,income
production_companies,,,,,,,,
Walt Disney Pictures|Rickshaw Productions,0.506031,8000000,10130000,104,78,5.8,2011,2130000
Splendid Pictures|Maverick Films|Metro-Goldwyn-Mayer (MGM)|Dylan Sellers Productions|Madacy Entertainment,0.275919,26000000,28818995,100,80,5.3,2004,2818995
Miramax Films,0.478888,8000000,10848783,92,94,5.8,2009,2848783
Summit Entertainment|Robert Simonds Productions|Participant Media|Imagenation Abu Dhabi FZ|Furry Vengeance Productions,0.302377,35000000,39340177,92,75,4.7,2010,4340177
Gerber Pictures|Warner Bros.,0.983805,40000000,44907260,113,280,6.0,2013,4907260
...,...,...,...,...,...,...,...,...
Universal Pictures|Point Grey Pictures|Good Universe,2.376309,18000000,268157400,96,1829,6.2,2014,250157400
Legendary Pictures|Green Hat Films,1.439458,103000000,362000072,100,2010,6.0,2013,259000072
Paramount Pictures,4.847227,87000000,372704716,267,2713,18.9,6018,285704716
Gold/Miller Productions|Wayans Bros. Entertainment|Dimension Films|Brad Grey Pictures,3.265608,64000000,419240449,171,1155,11.4,4001,355240449
Legendary Pictures|Green Hat Films|Warner Bros.|IFP Westcoast Erste,3.153060,35000000,459270619,100,4134,7.1,2009,424270619

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [102]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)
def cast_list(x):
    list_cast = x.split('|')
    return list_cast

In [103]:
new_df = data
new_df['production_companies'] = data.production_companies.apply(cast_list)
new_df = new_df.explode('production_companies')
display(new_df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,5562,6.5,2015,1363528810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [104]:
new_df[new_df.release_year == 2012]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
972,tt1496025,7.031452,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Lakeshore Entertainment,1/19/2012,1426,6.0,2012,62400000
972,tt1496025,7.031452,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Saturn Films,1/19/2012,1426,6.0,2012,62400000
972,tt1496025,7.031452,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Screen Gems,1/19/2012,1426,6.0,2012,62400000
972,tt1496025,7.031452,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Sketch Films,1/19/2012,1426,6.0,2012,62400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,tt1876451,0.308684,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,Akil Production Company,8/17/2012,21,5.9,2012,10637469
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Imagine Entertainment,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,MTV Films,6/28/2012,63,6.5,2012,20726956
1081,tt2215719,0.050524,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Insurge Pictures,6/28/2012,63,6.5,2012,20726956

In [105]:
grouped_df = new_df[new_df.release_year == 2012].groupby('production_companies').sum()
display(grouped_df.sort_values('revenue'))

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,income
production_companies,,,,,,,,
Wonderful Films PLC,0.903283,10000000,3428048,115,302,6.7,2012,-6571952
Liddell Entertainment,0.903283,10000000,3428048,115,302,6.7,2012,-6571952
LD Entertainment,0.903283,10000000,3428048,115,302,6.7,2012,-6571952
Industry Entertainment,0.409718,20000000,4636169,97,144,5.7,2012,-15363831
Paradox Entertainment,0.409718,20000000,4636169,97,144,5.7,2012,-15363831
...,...,...,...,...,...,...,...,...
Marvel Studios,7.637767,220000000,1519557910,143,8903,7.3,2012,1299557910
Relativity Media,21.538410,669000000,1701593938,1499,10911,77.7,26156,1032593938
Warner Bros.,12.593044,611500000,1869520056,579,11729,30.0,10060,1258020056
Universal Pictures,22.154145,920000000,2901011579,1295,14131,67.2,22132,1981011579
Columbia Pictures,26.856165,967000000,3468406608,1226,26933,64.2,20120,2501406608

In [106]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [107]:
answer_ls.append(3)

In [110]:
new_df = data
new_df = new_df.explode('production_companies')
new_df = new_df[new_df.production_companies == 'Paramount Pictures']
display(new_df.sort_values('income'))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures,11/26/2003,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures,4/24/2007,499,5.9,2007,-51788987
1624,tt0375173,0.898601,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures,10/22/2004,140,5.4,2004,-46604061
1632,tt0315297,0.767870,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures,2/27/2004,67,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,tt1229238,2.952740,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures,12/7/2011,3036,6.7,2011,549713380
1739,tt0418279,0.890557,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures,6/27/2007,2752,6.6,2007,559709780
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Paramount Pictures,5/21/2008,1537,5.6,2008,601636033
317,tt1055369,0.813323,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures,6/19/2009,2230,6.0,2009,686297228
829,tt1399103,0.760503,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures,6/28/2011,2456,6.1,2011,928746996

In [111]:
new_df = data
new_df['production_companies'] = data.production_companies.apply(cast_list)
new_df = new_df.explode('production_companies')
new_df = new_df[data.production_companies == 'Paramount Pictures']
display(new_df.sort_values('income'))

AttributeError: 'list' object has no attribute 'split'

In [112]:
answer_ls.append(1)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [108]:
grouped_data = data.groupby('release_year').sum()
display(grouped_data.sort_values('revenue'))

,popularity,budget,revenue,runtime,vote_count,vote_average,income
release_year,,,,,,,
2000,83.906725,4562700000,10664099805,9956,39469,542.5,6101399805
2001,118.804643,5067150000,13017764865,11284,54986,619.8,7950614865
2002,127.017597,5134000000,14136361487,11528,54743,653.1,9002361487
2003,129.851775,5117300000,14346123312,10623,57598,574.4,9228823312
2006,143.461700,6083965000,14775042320,13952,61517,775.4,8691077320
2005,141.030028,6327500000,15309425558,13387,59431,733.5,8981925558
2004,142.901974,6029250000,15663430720,12014,66099,671.3,9634180720
2007,146.148186,6596495000,18162406801,14305,72225,809.3,11565911801
2008,158.907759,6588900000,18252781990,12979,84574,731.1,11663881990
2009,175.264020,6838046652,20261791024,14187,97625,800.2,13423744372
2010,179.199055,7965000000,21082292530,13692,106841,768.5,13117292530
2011,205.056209,7946550531,22676791872,15355,113342,868.5,14730241341
2012,194.340559,7002000000,23079001687,12145,150430,682.1,16077001687
2013,216.388656,7970620000,23213799791,15039,167162,846.9,15243179791
2014,374.517350,7008050000,23405862953,13444,155491,774.5,16397812953
2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378

In [113]:
answer_ls.append(5)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [114]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)
def cast_list(x):
    list_cast = x.split('|')
    return list_cast

In [115]:
new_df = data
new_df['production_companies'] = new_df.production_companies.apply(cast_list)
new_df = new_df.explode('production_companies')
display(new_df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,5562,6.5,2015,1363528810
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,5562,6.5,2015,1363528810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,21,5.2,2000,-3962091
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [116]:
new_df[new_df.production_companies.str.match("Warner")]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Warner Bros.,2/4/2015,1937,5.2,2015,7987720
22,tt2126355,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,Warner Bros.,5/27/2015,2060,6.1,2015,360490832
40,tt1638355,3.053421,75000000,108145109,The Man from U.N.C.L.E.,Henry Cavill|Armie Hammer|Alicia Vikander|Eliz...,Guy Ritchie,Saving the world never goes out of style.,"At the height of the Cold War, a mysterious cr...",116,Comedy|Action|Adventure,Warner Bros.,8/13/2015,1548,7.0,2015,33145109
46,tt2361509,2.814802,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Warner Bros.,9/24/2015,1255,7.1,2015,159564672
59,tt1390411,2.345821,100000000,93820758,In the Heart of the Sea,Chris Hemsworth|Benjamin Walker|Cillian Murphy...,Ron Howard,Based on the incredible true story that inspir...,"In the winter of 1820, the New England whaling...",122,Thriller|Drama|Adventure|Action|History,Warner Bros.,11/20/2015,805,6.4,2015,-6179242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,tt0177971,0.583320,120000000,325756637,The Perfect Storm,George Clooney|Mark Wahlberg|Diane Lane|John C...,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.,3/15/2000,315,5.9,2000,205756637
1874,tt0160009,0.339608,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Warner Bros.,8/23/2000,67,5.7,2000,-9800895
1879,tt0176783,0.310295,14000000,5108820,Gossip,Joshua Jackson|James Marsden|Kate Hudson|Lena ...,Davis Guggenheim,"It can turn you on, or turn on you.","On a beautiful college campus, something ugly ...",90,Drama|Mystery|Thriller,Warner Bros. Pictures,4/21/2000,34,5.3,2000,-8891180
1883,tt0217756,0.196668,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Warner Bros.,4/7/2000,16,4.4,2000,-11627590
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [117]:
new_df = new_df[new_df.production_companies.str.match("Warner")]
grouped_df = new_df.groupby('release_year').sum()
display(grouped_df.sort_values('revenue'))

,popularity,budget,revenue,runtime,vote_count,vote_average,income
release_year,,,,,,,
2000,7.641420,572900000,1025531386,1333,2163,68.0,452631386
2006,16.403998,959500000,1581832868,1692,7801,93.2,622332868
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348
2002,15.070224,680000000,1702709901,1281,5851,70.6,1022709901
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2001,21.572986,998000000,2280142579,1666,10622,89.2,1282142579
2005,23.689897,875000000,2470278228,1392,13487,76.8,1595278228
2013,22.296746,963500000,2599953400,1100,19352,59.9,1636453400
2004,21.125522,1100000000,2731933725,1624,10964,78.7,1631933725
2009,24.294407,915500000,2737954136,1305,16473,67.9,1822454136
2003,18.345576,970000000,2814008221,1175,8660,62.2,1844008221
2011,23.499629,974000000,2845393682,1248,15559,68.3,1871393682
2010,26.441327,1034000000,3008712985,1421,20286,79.6,1974712985
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2007,22.974477,1005000000,3213217007,1845,15875,101.6,2208217007
2014,64.655396,953600000,3246549646,1683,25178,95.2,2292949646

In [118]:
answer_ls.append(1)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [119]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)
def cast_list(x):
    list_cast = x.split('|')
    return list_cast

In [120]:
data['month'] = pd.DatetimeIndex(data['release_date']).month
grouped_data = data.groupby('month').count()
display(grouped_data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
month,,,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191

In [121]:
answer_ls.append(4)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [122]:
df = data.query('month in [6,7,8]')
df.count()

imdb_id                 450
popularity              450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_count              450
vote_average            450
release_year            450
income                  450
month                   450
dtype: int64

In [123]:
answer_ls.append(2)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [124]:
df = data.query('month in [12,1,2]')
df.explode('director')
display(df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income,month
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,12
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,397950503,12
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015,7987720,2
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015,21869414,1
15,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,2389,7.4,2015,111760117,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,tt0219653,0.481089,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,73,4.7,2000,5000337,12
1868,tt0181536,0.449041,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,12/21/2000,161,6.9,2000,37049764,12
1873,tt0134983,0.385350,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,42,4.7,2000,-75171919,1
1881,tt0190374,0.284476,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,86,3.9,2000,-19814759,12
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091,2

In [125]:
grouped_df = df.groupby('director').count()
display(grouped_df.sort_values('imdb_id'))

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income,month
director,,,,,,,,,,,,,,,,,
Aaron Seltzer|Jason Friedberg,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
McG,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Matthew Vaughn,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Matthew O'Callaghan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Matt Reeves,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Shawn Levy,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

In [126]:
answer_ls.append(5)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [127]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)
def cast_list(x):
    list_cast = x.split('|')
    return list_cast
data['month'] = pd.DatetimeIndex(data['release_date']).month

In [128]:
grouped_df = data.groupby(['release_year', 'month']).sum()
grouped_df.head(48)

                    popularity     budget     revenue  runtime  vote_count  \
release_year month
2000         1        0.878300  101000000    74655409      189         112
             2        4.717083  252300000   562437593      778        2840
             3        8.002211  465000000   955709929      990        2739
             4        6.066936  355000000   479362846     1117        1849
             5       11.997521  419300000  1802022190      801        6247
             6        6.765492  509000000  1026315528      858        3283
             7        6.427635  468000000  1031809888      867        4541
             8        3.931447  222000000   486018332      540        1663
             9        4.660202  157000000   332306761      554        3322
             10       8.709416  346600000   746538512      817        3916
             11       8.125556  545500000  1033434818      787        3038
             12      13.624926  722000000  2133487999     1658        5919
2001         1        2.443833   89000000   216876758      404         552
             2        2.937452  321000000   499360689      753        1214
             3        6.474506  335500000   731718262      785        2195
             4        9.222923  368850000  1028575033      754        3413
             5       12.138876  333000000  1100934975      654        4609
             6       11.331250  676000000  1456612105     1047        7269
             7       11.340051  615000000  1488718941     1098        4613
             8       10.896168  417000000  1143979609     1145        3507
             9        5.231054  283000000   304874909      816        1305
             10       9.467008  503000000   649204533     1404        3399
             11      16.139713  473800000  2041040927     1009        9456
             12      21.181809  652000000  2355868124     1415       13454
2002         1        4.027791  106000000   119657034      409         875
             2        7.012752  352000000   909847442      988        1707
             3       16.387431  499000000  1331386092     1147        6782
             4        6.389548  319000000   662737203      788        1456
             5       10.103804  498000000  1919928692      788        7022
             6       11.687124  561000000  1308704475      783        5985
             7        8.035283  576000000  1205306797      710        4091
             8        8.923522  468000000  1047318434     1155        2820
             9        7.179198  283500000   700767245     1013        2627
             10      10.336252  326000000   746527680     1098        3838
             11      13.179436  523000000  1713606216      797        5949
             12      23.755456  622500000  2470574177     1852       11591
2003         1        2.033445   64000000   209423503      286         807
             2        9.567396  353000000   775979087      942        2598
             3        4.413174  301000000   461261385      694        1293
             4        9.193072  391000000   870653942     1080        4477
             5       15.293002  499400000  2499692657      829        9848
             6        3.860773  394000000   800445507      622        2882
             7       16.875887  813000000  2169384641      946        8869
             8        7.447725  304000000   748992536      870        2353
             9       14.528188  307400000   810713816      989        4402
             10      16.255201  333500000  1170590991     1190        6293
             11      13.365682  639000000  1248390731      965        4226
             12      17.018230  718000000  2580594516     1210        9550

                    vote_average      income
release_year month
2000         1              11.3   -26344591
             2              41.3   310137593
             3              55.1   490709929
             4              58.4   124362846
             5              45.5  1382722190
             6              45.6   517315528
             7              46.7   563809888
             8              29.6   264018332
             9              33.4   175306761
             10             48.6   399938512
             11             41.7   487934818
             12             85.3  1411487999
2001         1              22.8   127876758
             2              38.4   178360689
             3              41.0   396218262
             4              40.5   659725033
             5              33.2   767934975
             6              59.9   780612105
             7              62.4   873718941
             8              64.4   726979609
             9              46.9    21874909
             10             79.4   146204533
             11             57.5  1567240927
             12             73.4  1703868124
2002         1              24.8    13657034
             2              58.5   557847442
             3              65.8   832386092
             4              47.2   343737203
             5              44.8  1421928692
             6              43.3   747704475
             7              40.8   629306797
             8              61.5   579318434
             9              57.7   417267245
             10             63.7   420527680
             11             45.1  1190606216
             12             99.9  1848074177
2003         1              16.5   145423503
             2              48.1   422979087
             3              32.8   160261385
             4              65.5   479653942
             5              50.7  2000292657
             6              29.3   406445507
             7              46.9  1356384641
             8              45.7   444992536
             9              55.7   503313816
             10             71.6   837090991
             11             53.5   609390731
             12             58.1  1862594516

In [129]:
final_df = grouped_df.groupby(['release_year']).income.max()

In [130]:
final_df

release_year
2000    1411487999
2001    1703868124
2002    1848074177
2003    2000292657
2004    2412578839
2005    1575566228
2006    2098059770
2007    2764341802
2008    1943384763
2009    3423239738
2010    2449561498
2011    2331661017
2012    2965481705
2013    2411922008
2014    2279978281
2015    3757679861
Name: income, dtype: int64

In [131]:
new_df = grouped_df['income'].unstack().idxmax(axis=1)

In [132]:
grouped_df.reset_index(inplace=True)

In [133]:
display(grouped_df)

,release_year,month,popularity,budget,revenue,runtime,vote_count,vote_average,income
0,2000,1,0.878300,101000000,74655409,189,112,11.3,-26344591
1,2000,2,4.717083,252300000,562437593,778,2840,41.3,310137593
2,2000,3,8.002211,465000000,955709929,990,2739,55.1,490709929
3,2000,4,6.066936,355000000,479362846,1117,1849,58.4,124362846
4,2000,5,11.997521,419300000,1802022190,801,6247,45.5,1382722190
...,...,...,...,...,...,...,...,...,...
187,2015,8,18.777991,337000001,828699147,858,6713,49.2,491699146
188,2015,9,40.364813,733000000,2508686025,1913,16217,108.4,1775686025
189,2015,10,28.233503,546430000,1488591764,1497,10036,82.8,942161764
190,2015,11,38.367038,764800000,1977508544,1690,11458,98.3,1212708544
191,2015,12,36.726252,592000000,3369325507,917,14627,46.5,2777325507

In [134]:
pivot = grouped_df.pivot_table(values = ['income'], index = ['release_year'], aggfunc = 'max')
display(pivot)

                  income
release_year
2000          1411487999
2001          1703868124
2002          1848074177
2003          2000292657
2004          2412578839
2005          1575566228
2006          2098059770
2007          2764341802
2008          1943384763
2009          3423239738
2010          2449561498
2011          2331661017
2012          2965481705
2013          2411922008
2014          2279978281
2015          3757679861

In [135]:
joined = pivot.merge(grouped_df, on = 'income', how = 'left')

In [136]:
group = joined.groupby('month').count()
display(group)

,income,release_year,popularity,budget,revenue,runtime,vote_count,vote_average
month,,,,,,,,
5,4,4,4,4,4,4,4,4
6,7,7,7,7,7,7,7,7
7,1,1,1,1,1,1,1,1
12,4,4,4,4,4,4,4,4

In [137]:
answer_ls.append(2)

In [128]:
pd.MultiIndex.from_frame(new_df)

AttributeError: 'Series' object has no attribute 'MultiIndex'

In [107]:
new_df.rename('A')

release_year
2000    12
2001    12
2002    12
2003     5
2004     5
2005     5
2006     6
2007     6
2008     6
2009    12
2010     6
2011     7
2012     6
2013     6
2014     5
2015     6
Name: A, dtype: int64

TypeError: rename() got an unexpected keyword argument 'columns'

In [120]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

In [122]:
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

In [86]:
df = pd.DataFrame({'a':randn(5), 'b':randn(5), 'c':randn(5)})
df

NameError: name 'randn' is not defined

In [56]:
grouped_data = data.groupby(['month', 'release_year']).sum()
display(grouped_data)

                    popularity      budget     revenue  runtime  vote_count  \
month release_year
1     2000            0.878300   101000000    74655409      189         112
      2001            2.443833    89000000   216876758      404         552
      2002            4.027791   106000000   119657034      409         875
      2003            2.033445    64000000   209423503      286         807
      2004            4.584477   163000000   386449403      481        1710
...                        ...         ...         ...      ...         ...
12    2011           17.543036   692000000  2234580698     1589       10014
      2012           13.642040   321000000  1426170337      847       13021
      2013           27.256364   993000000  2708008475     1855       17940
      2014           47.521994  1018800000  2937880286     1940       16493
      2015           36.726252   592000000  3369325507      917       14627

                    vote_average      income
month release_year
1     2000                  11.3   -26344591
      2001                  22.8   127876758
      2002                  24.8    13657034
      2003                  16.5   145423503
      2004                  28.2   223449403
...                          ...         ...
12    2011                  83.8  1542580698
      2012                  38.8  1105170337
      2013                  98.9  1715008475
      2014                 100.5  1919080286
      2015                  46.5  2777325507

[192 rows x 7 columns]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [138]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)
def cast_list(x):
    list_cast = x.split('|')
    return list_cast
def name_len(x):
    leng = len(x.split(" "))
    return leng

In [139]:
data['name_len'] = data.original_title.apply(name_len)

In [140]:
data['production_companies'] = data.production_companies.apply(cast_list)
df = data.explode('production_companies')

In [141]:
display(df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income,name_len
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,5562,6.5,2015,1363528810,2
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,5562,6.5,2015,1363528810,2
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,5562,6.5,2015,1363528810,2
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,5562,6.5,2015,1363528810,2
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,5562,6.5,2015,1363528810,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,21,5.2,2000,-3962091,2
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,21,5.2,2000,-3962091,2
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,21,5.2,2000,-3962091,2
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,21,5.2,2000,-3962091,2
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502,3

In [142]:
grouped_df = df.groupby('production_companies').mean()
display(grouped_df.sort_values('name_len'))

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,income,name_len
production_companies,,,,,,,,,
Great Wight Productions/ Osford Films,0.587045,30000000.0,108609310.0,108.0,193.0,5.7,2011.0,78609310.0,1.0
Blue Sea Productions,1.279087,25000000.0,20796847.0,93.0,376.0,6.4,2004.0,-4203153.0,1.0
Blue Productions,0.433748,25000000.0,30114487.0,102.0,60.0,4.7,2004.0,5114487.0,1.0
Maple Shade Films,1.129322,100000000.0,82102379.0,104.0,415.0,4.3,2004.0,-17897621.0,1.0
Many Rivers Productions,2.754426,27000000.0,161849455.0,105.0,2445.0,7.0,2011.0,134849455.0,1.0
...,...,...,...,...,...,...,...,...,...
Dos Corazones,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,-2377154.0,9.0
The Saul Zaentz Company,8.335347,86000000.0,898827882.0,178.5,5596.5,7.8,2001.5,812827882.0,9.0
Polsky Films,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,-14410898.0,9.0
"Jim Henson Company, The",0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,72654149.0,10.0
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,12.0

In [144]:
answer_ls.append(5)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(1)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [145]:
def word_list(x):
    list_words = x.split(' ')
    return list_words

In [146]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360

In [147]:
data['original_title'] = data.original_title.apply(word_list)
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,"[Jurassic, World]",Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,"[Mad, Max:, Fury, Road]",Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,[Insurgent],Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,"[Star, Wars:, The, Force, Awakens]",Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,"[Furious, 7]",Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,[X-Men],Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717
1886,tt0192255,0.123920,22000000,13555988,"[The, Little, Vampire]",Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012
1887,tt0131704,0.104908,76000000,35134820,"[The, Adventures, of, Rocky, &, Bullwinkle]",Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180
1888,tt0162983,0.031018,40000000,36037909,"[Hanging, Up]",Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,"[The, In, Crowd]",Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [148]:
word_list = []
def cycle(title):
    for word in title:
        if word in word_list:
            continue
        else:
            word_list.append(word)

In [149]:
title = ['Jurassic', 'World']
cycle(title)

In [150]:
data['original_title'] = data.original_title.apply(cycle)
print(word_list)

['Jurassic', 'World', 'Mad', 'Max:', 'Fury', 'Road', 'Insurgent', 'Star', 'Wars:', 'The', 'Force', 'Awakens', 'Furious', '7', 'Revenant', 'Terminator', 'Genisys', 'Martian', 'Minions', 'Inside', 'Out', 'Spectre', 'Jupiter', 'Ascending', 'Ex', 'Machina', 'Pixels', 'Avengers:', 'Age', 'of', 'Ultron', 'Hateful', 'Eight', 'Taken', '3', 'Ant-Man', 'Cinderella', 'Hunger', 'Games:', 'Mockingjay', '-', 'Part', '2', 'Tomorrowland', 'Southpaw', 'San', 'Andreas', 'Fifty', 'Shades', 'Grey', 'Big', 'Short', 'Mission:', 'Impossible', 'Rogue', 'Nation', 'Ted', 'Kingsman:', 'Secret', 'Service', 'Spotlight', 'Maze', 'Runner:', 'Scorch', 'Trials', 'Chappie', 'Pitch', 'Perfect', 'Bridge', 'Spies', 'Goosebumps', 'Room', 'Good', 'Dinosaur', 'Run', 'All', 'Night', 'Brooklyn', 'Straight', 'Outta', 'Compton', 'Last', 'Witch', 'Hunter', 'Man', 'from', 'U.N.C.L.E.', 'Adaline', 'Hardcore', 'Henry', 'Home', 'Paper', 'Towns', 'Carol', 'Intern', 'Everest', 'Point', 'Break', 'Burnt', 'Self/less', 'Mortdecai', 'Danish', 'Girl', 'Blackhat', 'Sicario', 'Fantastic', 'Four', 'Spy', 'Focus', 'Hitman:', 'Agent', '47', 'In', 'the', 'Heart', 'Sea', 'Creed', 'Trainwreck', 'Eye', 'in', 'Sky', 'Legend', 'Pan', 'Peanuts', 'Movie', 'Concussion', 'Before', 'Longest', 'Ride', 'Hotel', 'Transylvania', 'Love', 'Coopers', 'Walk', 'Vacation', 'Poltergeist', 'Child', '44', 'Gift', "Daddy's", 'Little', 'Prince', 'Dressmaker', 'DUFF', 'Sinister', 'Paul', 'Blart:', 'Mall', 'Cop', 'Entourage', 'Wedding', 'Ringer', 'Visit', 'Black', 'Mass', 'Krampus', 'No', 'Escape', 'Woman', 'Gold', 'Sisters', 'Project', 'Almanac', 'Transporter', 'Refueled', 'Crimson', 'Peak', 'Magic', 'Mike', 'XXL', 'Paranormal', 'Activity:', 'Ghost', 'Dimension', 'Trumbo', 'Their', 'Eyes', 'SpongeBob', 'Movie:', 'Sponge', 'Water', 'Max', 'Gunman', 'Hot', 'Pursuit', 'Insidious:', 'Chapter', 'Lady', 'Van', 'Victor', 'Frankenstein', 'Ricki', 'and', 'Flash', 'Guy', 'While', "We're", 'Young', 'Get', 'Hard', 'Suffragette', 'We', 'Are', 'Your', 'Friends', 'Boy', 'Aloha', 'Our', 'Brand', 'Is', 'Crisis', 'Rock', 'Kasbah', 'A', 'Woods', 'Unfinished', 'Business', 'or', 'White', 'Jem', 'Holograms', 'Interstellar', 'Guardians', 'Galaxy', 'Captain', 'America:', 'Winter', 'Soldier', 'John', 'Wick', '1', 'Hobbit:', 'Battle', 'Five', 'Armies', 'Hero', '6', 'Imitation', 'Game', 'Runner', 'Birdman', 'Gone', 'at', 'Museum:', 'Tomb', 'Divergent', 'X-Men:', 'Days', 'Future', 'Past', 'Lucy', 'Teenage', 'Mutant', 'Ninja', 'Turtles', 'Sex', 'Tape', 'Nightcrawler', 'Transformers:', 'Extinction', 'Grand', 'Budapest', 'Dawn', 'Planet', 'Apes', 'Equalizer', 'Horrible', 'Bosses', 'Amazing', 'Spider-Man', 'Edge', 'Tomorrow', 'Interview', 'American', 'Sniper', 'Exodus:', 'Gods', 'Kings', 'Godzilla', 'Maleficent', 'November', 'Ouija', 'How', 'to', 'Train', 'Dragon', 'Expendables', 'Lego', 'Seventh', 'Son', 'Theory', 'Everything', "Let's", 'Be', 'Cops', 'Dracula', 'Untold', 'Penguins', 'Madagascar', 'Into', '300:', 'Rise', 'an', 'Empire', 'Giver', '22', 'Jump', 'Street', 'Among', 'Tombstones', 'Paddington', 'Cake', 'Chef', 'Purge:', 'Anarchy', 'Left', 'Behind', 'Most', 'Violent', 'Year', 'Hercules', 'Noah', 'Judge', 'Blended', 'Neighbors', 'If', 'I', 'Stay', 'Step', 'Up', 'Fault', 'Stars', 'Along', 'Inherent', 'Vice', 'Jack', 'Ryan:', 'Shadow', 'Recruit', 'Non-Stop', 'Predestination', 'RoboCop', 'Transcendence', 'Other', 'Mr.', 'Peabody', '&', 'Sherman', 'Sin', 'City:', 'Dame', 'Kill', 'For', 'Rio', 'Dumb', 'Dumber', 'To', 'Monuments', 'Men', 'Unbroken', 'Selma', 'Pompeii', 'Best', 'Me', 'Annie', 'St.', 'Vincent', 'Need', 'for', 'Speed', 'Hundred-Foot', 'Journey', 'Boxtrolls', 'Storm', 'Planes:', 'Fire', 'Rescue', 'Sabotage', 'Deed', 'As', 'Above,', 'So', 'Below', 'Foxcatcher', 'Endless', 'Rover', 'Suite', 'FranÃ§aise', 'Annabelle', 'I,', 'That', 'Awkward', 'Moment', 'Brick', 'Mansions', 'Tammy', "Winter's", 'Tale', 'Guest', 'Diviner', 'Alexander', 'Terrible,', 'Horrible,', 'Good,', 'Very', 'Bad', 'Day', 'This', 'Where', 'Leave', 'You', 'About', 'Million', 'Dollar', 'Arm', 'Under', 'Skin', 'Veronica', 'Mars', 'God', 'When', 'Stands', 'Tall', 'Pyramid', 'Messenger', 'Dolphin', 'Muppets', 'Wanted', 'Heaven', 'is', 'Real', "Moms'", 'Earth', 'Echo', 'Gambler', 'Seduction', "God's", 'Not', 'Dead', "Devil's", 'Due', 'Avatar', 'Inglourious', 'Basterds', 'Underworld:', 'Lycans', 'Harry', 'Potter', 'Half-Blood', 'Trek', 'Salvation', 'District', '9', 'Sherlock', 'Holmes', '(500)', 'Summer', 'Hangover', 'Watchmen', '2012', 'Angels', 'Demons', 'Princess', 'Frog', 'Blind', 'Side', 'Zombieland', 'Twilight', 'Saga:', 'New', 'Moon', "He's", 'Just', 'G.I.', 'Joe:', 'Cobra', 'Proposal', 'Ugly', 'Truth', 'Cloudy', 'with', 'a', 'Chance', 'Meatballs', 'Fox', 'Coraline', 'Smithsonian', '17', 'Again', 'Christmas', 'Lovely', 'Bones', 'Hachi:', "Dog's", 'Law', 'Abiding', 'Citizen', 'Box', 'Crank:', 'High', 'Voltage', 'Pandorum', 'Drag', 'Hell', 'Knowing', 'G-Force', 'Taking', 'Pelham', 'Invention', 'Lying', 'Confessions', 'Shopaholic', 'Gamer', 'Nobody', 'Couples', 'Retreat', 'Brothers', 'Monsters', 'vs', 'Aliens', 'Julie', 'Julia', 'Chloe', 'Public', 'Enemies', "Jennifer's", 'Body', 'Orphan', 'Steve', 'Final', 'Destination', 'Alvin', 'Chipmunks:', 'Squeakquel', 'Bride', 'Wars', 'Precious', 'State', 'Play', 'Unborn', 'You,', 'Informant!', 'Race', 'Mountain', 'Case', '39', 'Boat', 'Rocked', 'Daybreakers', 'Happens', 'Push', "Brooklyn's", 'Finest', 'Saw', 'VI', 'Victoria', 'Serious', 'Getaway', 'Whiteout', 'Phillip', 'Morris', '12', 'Rounds', 'Idiots', 'Revenge', 'Fallen', 'Who', 'Stare', 'Goats', 'Assassin', 'Bandslam', "It's", 'Complicated', 'Land', 'Lost', 'Invictus', '51', 'One', 'My', 'Bloody', 'Valentine', 'Old', 'Dogs', 'Agora', 'Boondock', 'Saints', 'II:', 'Lieutenant:', 'Port', 'Call', 'Orleans', 'Armored', 'Cirque', 'du', 'Freak:', "Vampire's", 'Assistant', 'An', 'Education', 'Funny', 'People', 'Air', 'Astro', 'International', 'Fast', 'Capitalism:', 'Story', 'Halloween', 'II', 'Hannah', 'Montana:', 'Attic', 'Fourth', 'Kind', 'Solitary', 'Duplicity', 'Bright', 'Adventureland', 'Extract', 'Life', 'Ruins', "Sister's", 'Keeper', 'Soloist', 'Friday', '13th', 'Brown', 'Surrogates', 'Fighter:', 'Chun-Li', 'Obsessed', 'Solomon', 'Kane', 'X-Men', 'Origins:', 'Wolverine', 'Town', 'Orson', 'Welles', 'Shorts', 'Sorority', 'Row', 'Joneses', 'Post', 'Grad', 'Crazy', 'Did', 'Hear', 'Morgans?', 'Grudge', "Mao's", 'Dancer', 'Inception', 'Iron', 'Alice', 'Wonderland', 'Swan', 'Deathly', 'Hallows:', 'Despicable', 'Shutter', 'Island', 'TRON:', 'Legacy', 'Tangled', 'Toy', 'Salt', '127', 'Hours', 'Easy', 'Chronicles', 'Narnia:', 'Voyage', 'Treader', 'Kick-Ass', 'Tourist', 'Persia:', 'Sands', 'Time', 'Robin', 'Hood', 'True', 'Grit', 'Clash', 'Titans', "Sorcerer's", 'Apprentice', 'Social', 'Network', 'Scott', 'Pilgrim', 'vs.', 'Fockers', 'Predators', 'Percy', 'Jackson', 'Olympians:', 'Lightning', 'Thief', 'Unstoppable', 'Shrek', 'Forever', 'After', 'Dear', 'A-Team', 'RED', 'Machete', 'Grown', 'Ups', 'Book', 'Eli', 'Date', 'Eclipse', 'Megamind', 'Airbender', 'Guys', '3D', "King's", 'Speech', 'Drugs', 'Way', 'Back', 'Repo', 'Knight', 'Eat', 'Pray', 'Bounty', 'Leap', 'Green', 'Zone', "Gulliver's", 'Travels', 'Back-Up', 'Plan', 'Charlie', 'Cloud', 'Switch', 'Runaways', "Valentine's", "Don't", 'Afraid', 'Dark', 'Karate', 'Kid', 'Wild', 'Target', 'Writer', 'Next', 'Three', 'Nightmare', 'on', 'Elm', 'Fighter', 'Him', 'Greek', 'Jonah', 'Hex', 'Vampires', 'Suck', 'Killers', 'Legion', 'City', 'Nanny', 'McPhee', 'Bang', 'Tub', 'Machine', 'Let', 'Guardians:', 'Owls', "Ga'Hoole", 'Takers', 'Burlesque', 'Company', 'Going', 'Distance', 'Never', 'Go', 'as', 'Know', 'It', 'Centurion', 'Stone', 'Diary', 'Wimpy', 'Piranha', 'Morning', 'Glory', 'Conviction', 'Tooth', 'Fairy', 'Fair', 'Dinner', 'Schmucks', 'Skyline', 'Debt', 'Cats', ':', 'Kitty', 'Galore', 'MacGruber', 'Do', 'Door', "She's", 'League', 'London', 'Boulevard', 'Hereafter', 'Soul', 'Take', 'Conspirator', 'Death', 'Funeral', 'Marmaduke', 'Wall', 'Street:', 'Money', 'Sleeps', 'Must', 'Crazies', 'Alpha', 'Omega', 'Yogi', 'Bear', 'Country', 'Strong', 'Tomorrow,', 'War', 'Began', 'Extraordinary', 'Measures', 'Devil', "Barney's", 'Version', 'Darkness', 'Furry', 'Vengeance', 'Dylan', 'Dog:', "Warrior's", 'Burke', 'Hare', 'Why', 'Married', 'Too?', 'Resident', 'Evil:', 'Afterlife', 'Action', 'Replayy', 'Secretariat', 'Lord', 'Rings:', 'Fellowship', 'Ring', "Philosopher's", 'Mulholland', 'Drive', 'Monsters,', 'Inc.', 'A.I.', 'Artificial', 'Intelligence', 'Bridget', "Jones's", "Ocean's", 'Eleven', 'Pearl', 'Harbor', 'Mummy', 'Returns', 'Atlantis:', 'Lara', 'Croft:', 'Raider', 'Beautiful', 'Mind', 'Pie', 'Diaries', 'Moulin', 'Rouge!', 'Royal', 'Tenenbaums', 'Blow', 'Enemy', 'Gates', 'Hawk', 'Down', 'Legally', 'Blonde', "Knight's", 'Zoolander', 'Another', 'Teen', 'Scary', 'Rush', 'Hour', 'Training', 'Others', 'Jimmy', 'Neutron:', 'Genius', 'Jay', 'Silent', 'Bob', 'Strike', 'Serendipity', 'Vanilla', 'Kiss', 'Swordfish', 'Shallow', 'Hal', 'AntiTrust', 'Fantasy:', 'Spirits', 'Within', 'Original', 'Dr.', 'Dolittle', 'Lines', 'Jeepers', 'Creepers', 'From', 'Castle', 'Came', 'Spider', 'Planner', 'Rat', 'Gosford', 'Park', 'Jason', 'X', 'Mexican', 'Joy', 'Am', 'Sam', 'K-PAX', 'Say', 'Word', 'Crocodile', 'Dundee', 'Los', 'Angeles', 'Frailty', 'Angel', 'Hearts', 'Atlantis', 'Glass', 'House', '15', 'Minutes', 'Hardball', 'Evolution', 'Ali', 'Score', 'Joe', 'Dirt', 'Exit', 'Wounds', 'Tailor', 'Panama', 'Sweet', 'Tomcats', 'Majestic', '3000', 'Miles', 'Graceland', 'Ghosts', 'Saving', 'Silverman', 'Riding', 'Cars', 'Boys', 'Osmosis', 'Jones', 'Head', 'Over', 'Heels', 'Save', 'Dance', 'Kids', 'Bandits', 'Animal', 'Knockaround', 'Crazy/Beautiful', 'Driven', 'Cold', 'Outlaws', 'Hannibal', 'Domestic', 'Disturbance', 'Catch', "Keeble's", 'Move', 'Monkeybone', 'Corky', 'Romano', 'III', 'Musketeer', "Cat's", 'Meow', 'Sugar', 'Spice', 'Wash', 'Baby', 'WALLÂ·E', 'Indiana', 'Kingdom', 'Crystal', 'Skull', 'Quantum', 'Solace', 'Kung', 'Fu', 'Panda', 'Mamma', 'Mia!', 'Curious', 'Benjamin', 'Button', 'Mummy:', 'Emperor', 'Incredible', 'Hulk', 'Gran', 'Torino', 'Madagascar:', 'Africa', 'Hellboy', 'Golden', 'Army', 'Jumper', 'Center', 'Slumdog', 'Millionaire', 'Valkyrie', '10,000', 'BC', 'Hancock', 'Hurt', 'Locker', 'What', 'Vegas', 'Caspian', 'Tropic', 'Thunder', 'Eagle', 'Striped', 'Pyjamas', 'Rambo', '2:', 'Streets', 'Stood', 'Still', 'Seven', 'Pounds', 'Cloverfield', 'Bolt', 'Forgetting', 'Sarah', 'Marshall', 'Australia', 'Yes', 'Marley', 'Lies', 'Burn', 'Reading', '27', 'Dresses', 'Inkheart', '21', "Fool's", 'Pineapple', 'Express', 'Wrestler', 'Bedtime', 'Stories', 'Punisher:', 'Payne', 'Mirrors', 'Vantage', 'Zack', 'Miri', 'Make', 'Porno', 'Smart', 'Role', 'Models', 'Babylon', 'A.D.', 'Bruges', 'Changeling', 'Spiderwick', 'Harold', 'Kumar', 'Guantanamo', 'Bay', 'Nick', "Norah's", 'Infinite', 'Playlist', 'Christmases', 'Bunny', 'V', 'Guru', 'Racer', 'Vicky', 'Cristina', 'Barcelona', 'Horton', 'Hears', 'Who!', 'Forbidden', 'Righteous', 'Transsiberian', 'Mess', 'With', 'Zohan', 'Defiance', 'Untraceable', 'Strangers', 'Milk', 'Outlander', 'Files:', 'Want', 'Believe', 'Doubt', 'Ember', 'Made', 'Honor', 'Deception', 'RockNRolla', 'Bangkok', 'Dangerous', 'Meet', 'Spartans', 'Spirit', 'Happening', 'Doomsday', 'Moonacre', 'Rocker', 'Despereaux', 'Superhero', 'Bees', 'Beverly', 'Hills', 'Chihuahua', 'Revolutionary', 'Mama', 'Brideshead', 'Revisited', 'Bloom', 'Dave', 'Quarantine', 'Space', 'Chimps', 'Lakeview', 'Terrace', 'Happened', 'Disaster', "Friend's", 'Midnight', 'Meat', 'Swing', 'Vote', 'W.', "Nim's", 'Igor', 'Lose', 'Alienate', 'Welcome', 'Roscoe', 'Jenkins', 'First', 'Avenger', 'Pirates', 'Caribbean:', 'On', 'Stranger', 'Tides', 'Thor', 'Angry', 'Mechanic', 'Source', 'Code', 'Protocol', 'Crazy,', 'Stupid,', 'Love.', 'Tattoo', 'Limitless', 'Steel', 'Benefits', 'Teacher', 'Holmes:', 'Shadows', 'Lantern', 'Strings', 'Attached', 'Adventures', 'Tintin', 'Bridesmaids', 'Hall', 'Pass', 'Super', '8', 'Sucker', 'Punch', 'Red', 'Breaking', 'Tree', 'Number', 'Artist', 'Zookeeper', 'Cowboys', 'Horse', '50/50', 'Rango', 'Change-Up', 'Hugo', 'Lincoln', 'Lawyer', 'Rider:', 'Killer', 'Elite', 'Rite', 'Winnie', 'Pooh', 'Musketeers', 'Priest', 'Adult', 'Abduction', 'Unknown', 'Adjustment', 'Bureau', 'Immortals', 'Larry', 'Crowne', 'Colombiana', 'Battle:', '5', 'Gun', 'Preacher', 'Jill', "What's", 'Number?', 'Season', 'Week', 'Marilyn', 'Bought', 'Zoo', 'Darkest', 'Help', 'Moneyball', 'Roommate', 'Puss', 'Boots', 'Hornet', 'Something', 'Borrowed', 'Conan', 'Barbarian', 'Johnny', 'English', 'Reborn', 'Contagion', 'Beastly', 'Thing', 'Tower', 'Heist', "Year's", 'Eve', 'Highness', 'Apollo', '18', 'Fright', 'Happy', 'Feet', 'Two', 'Scream', '4', 'Needs', 'Moms', 'Attack', 'Block', 'Kid:', 'Rodrick', 'Rules', 'Extremely', 'Loud', 'Incredibly', 'Close', 'Chipwrecked', 'Straw', 'Exotic', 'Marigold', 'Smurfs', 'Hanna', 'Gnomeo', 'Juliet', 'Descendants', 'Hop', 'Rum', 'Guard', 'Idiot', 'Brother', 'Footloose', 'Trespass', 'Carnage', 'Ides', 'March', 'Activity', 'Dilemma', 'Tonight', 'Seeking', 'Justice', 'Arthur', 'Sitter', 'J.', 'Edgar', 'Sanctum', 'She', 'Does', 'Method', 'Surfer', '30', 'Less', 'Hoodwinked', 'Too!', 'VS.', 'Evil', 'Elephants', 'Dream', 'Prom', 'Mommas:', 'Like', 'Father,', 'Xin', 'shao', 'lin', 'si', 'Jumping', 'Broom', 'Monte', 'Carlo', 'Double', 'Shark', 'Atlas', 'Shrugged', 'Place', 'Albert', 'Nobbs', 'Justin', 'Bieber:', 'Jeff,', 'Lives', 'Class', 'Towers', 'Chamber', 'Secrets', 'Ice', 'Bourne', 'Identity', 'Episode', 'Clones', 'Can', 'Pianist', 'Minority', 'Report', 'Lilo', 'Stitch', 'xXx', 'Treasure', 'Die', '28', 'Later...', 'Maid', 'Manhattan', 'Blade', 'Gangs', 'York', 'Panic', 'Stuart', 'National', 'Lampoonâ€™s', 'Wilder', 'Mile', 'Deeds', 'Weeks', 'Notice', 'Signs', 'Remember', 'Fat', 'Collateral', 'Damage', 'Phone', 'Booth', 'Trek:', 'Nemesis', 'Equilibrium', 'Perdition', 'Austin', 'Powers', 'Goldmember', 'Santa', 'Clause', 'Insomnia', 'Ship', 'Scooby-Doo', 'Spirit:', 'Stallion', 'Cimarron', 'D-Tox', 'Scorpion', 'King', 'Were', 'Soldiers', 'Jackass:', 'Frida', 'Murder', 'by', 'Numbers', 'Adaptation.', 'Alabama', 'Barbershop', 'Blue', 'Undisputed', 'Sweetest', 'Windtalkers', 'Q', 'Unfaithful', 'Changing', 'Lanes', 'K-19:', 'Widowmaker', 'Queen', 'Damned', 'Dreams', 'Enough', 'Return', 'Slackers', 'Chicago', 'Photo', 'Femme', 'Fatale', 'By', 'Reign', 'Showtime', 'Crimes', "Hart's", 'Schmidt', 'Crush', 'Blood', 'Work', 'Solaris', 'Feathers', 'Mothman', 'Prophecies', 'Far', 'Rookie', 'Trapped', 'Clockstoppers', 'Halloween:', 'Resurrection', 'Liar', 'Antwone', 'Fisher', 'Igby', 'Goes', 'Trip', 'Crossroads', 'Pluto', 'Nash', 'Abandon', 'Serving', 'Sara', 'Dragonfly', 'Drumline', 'Benjamins', 'FearDotCom', 'Auto', 'Possession', 'Trouble', 'Undercover', 'Avengers', 'Awakening', 'Rises', 'Django', 'Unchained', 'Skyfall', 'Unexpected', 'Prometheus', 'Silver', 'Linings', 'Playbook', 'Brave', 'Snow', 'Huntsman', 'Pi', 'Age:', 'Continental', 'Drift', 'Reacher', 'Lo', 'imposible', 'Wreck-It', 'Ralph', 'Games', 'Total', 'Recall', 'Perks', 'Being', 'Wallflower', 'Argo', 'Reunion', 'Cabin', 'Vow', 'Mysterious', 'Safe', 'Abraham', 'Lincoln:', 'Vampire', 'Upside', 'Lorax', 'Moonrise', 'Dredd', 'Battleship', 'Les', 'MisÃ©rables', 'Mirror', 'Carter', 'Looper', 'Zero', 'Thirty', 'Haywire', 'Wrath', 'Revolution', 'Chronicle', 'Act', 'Valor', 'End', 'Watch', 'Expect', "You're", 'Expecting', 'Dictator', 'Contraband', '3:', "Europe's", 'Lawless', 'Raven', 'Ages', 'Stolen', 'Pirates!', 'Adventure', 'Scientists!', 'Master', 'Five-Year', 'Engagement', '40', 'Lockout', 'Wanderlust', 'Frankenweenie', "That's", 'Savages', 'Ledge', 'Psychopaths', 'Miracle', 'Disconnect', 'Us', '3DD', 'Hill:', 'Revelation', 'Killing', 'Them', 'Softly', 'Light', 'Arbitrage', 'Stooges', 'Hope', 'Springs', 'Thousand', 'Words', 'Alex', 'Cross', 'Quartet', 'ParaNorman', 'Promised', 'Dog', 'Greater', 'Cristiada', 'Tails', 'Fun', 'Size', 'Premium', 'Parental', 'Guidance', 'Think', 'Apparition', 'Cosmopolis', 'Retribution', 'Sparkle', 'Katy', 'Perry:', 'Underworld', 'Curse', 'Bill:', 'Vol.', 'Matrix', 'Revolutions', 'Reloaded', 'Finding', 'Nemo', 'Bruce', 'Almighty', 'Actually', 'Elf', 'Machines', 'Fish', 'Daredevil', 'Gentlemen', 'Italian', 'Job', 'Jungle', 'Peter', 'Honey', 'Apart', 'School', 'Samurai', 'Croft', 'Raider:', 'Cradle', 'Wrong', 'Turn', 'Commander:', 'Mystic', 'River', 'Anger', 'Management', 'Core', 'Once', 'Upon', 'Mexico', '10', 'Shanghai', 'Knights', 'S.W.A.T.', 'Tears', 'Sun', 'Red,', 'Freaky', 'Timeline', 'Paycheck', "Charlie's", 'Angels:', 'Full', 'Throttle', "Something's", 'Gotta', 'Give', 'Haunted', 'Mansion', 'Gothika', 'Grams', 'Texas', 'Chainsaw', 'Massacre', 'Cheaper', 'Dozen', 'Freddy', 'Grave', 'Looney', 'Tunes:', 'Basic', 'Rundown', 'Open', 'Range', 'Daddy', 'Care', 'Seabiscuit', 'Lizzie', 'McGuire', 'Dreamcatcher', '3-D:', 'Order', 'Intolerable', 'Cruelty', 'Hunted', 'Runaway', 'Jury', 'Monster', 'Bringing', 'Gigli', 'Generals', 'Dumberer:', 'Met', 'Lloyd', 'Uptown', 'Girls', 'David', 'Gale', '1000', 'Corpses', 'Radio', 'Adam', 'Swimming', 'Pool', 'Mighty', 'Wind', 'Calendar', 'Cody', 'Banks', 'Abyss', 'Stuck', 'X2', 'Emma', 'Kelly', 'Sylvia', 'Frozen', 'Gravity', 'Thor:', 'Now', 'See', 'Catching', 'Wolf', 'Pacific', 'Rim', 'Oblivion', 'Desolation', 'Smaug', 'Her', 'Years', 'Slave', 'Riddick', 'Conjuring', 'Great', 'Gatsby', 'Elysium', 'University', 'Z', 'Walter', 'Mitty', "Ender's", 'Guns', 'Olympus', 'Has', 'Jackson:', 'Prisoners', 'Hustle', 'Warm', 'Bodies', 'Hansel', 'Gretel:', 'Hunters', 'Ronin', 'Mortal', 'Instruments:', 'Epic', 'Lone', 'Survivor', 'Dallas', 'Buyers', 'Club', 'R.I.P.D.', 'Planes', 'Spring', 'Breakers', 'Family', 'Beyond', 'Pines', 'Croods', 'Homefront', 'Carrie', 'Phillips', 'Counselor', 'Begin', 'Giant', 'Slayer', 'Bullet', 'Delivery', 'Jackass', 'Presents:', 'Grandpa', 'Parker', 'Heat', 'Oculus', 'Ranger', 'Gangster', 'Squad', 'Trance', 'Anchorman', 'Continues', 'Oz:', 'Powerful', 'Turbo', 'Redemption', 'Pain', 'Gain', 'Host', 'Oldboy', 'Admission', 'Butler', '43', 'Match', 'Belle', 'Kills', 'Haven', 'Bling', 'Candelabra', 'Jasmine', 'Effects', 'La', 'migliore', 'offerta', 'Burt', 'Wonderstone', 'Mud', 'Railway', 'Broken', 'Walking', 'Dinosaurs', 'Ground', '42', 'Fifth', 'Estate', 'Ties', 'Snitch', 'Free', 'Birds', 'Nebraska', 'Tai', 'Chi', 'Baggage', 'Claim', 'August:', 'Osage', 'County', 'Marked', 'Ones', 'Jobs', 'Paranoia', 'Furnace', 'Khumba', 'Nativity', 'Metallica:', 'Through', 'Legends', "Dorothy's", 'East', 'Holiday', 'Exorcism', 'Mandela:', 'Long', 'Freedom', 'Philomena', 'Diana', 'Internship', 'Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´', 'Goblet', 'Batman', 'Begins', 'Lion,', 'Wardrobe', 'Vendetta', 'Chocolate', 'Factory', 'Sith', "Hitchhiker's", 'Guide', 'Constantine', 'Crashers', 'Ã†on', 'Flux', 'Pacifier', 'Worlds', 'Memoirs', 'Geisha', 'Virgin', 'Chicken', 'Hitch', 'Monster-in-Law', 'Kong', 'Cool', 'Pride', 'Prejudice', 'Brokeback', 'Robots', 'xXx:', 'Union', 'Sisterhood', 'Traveling', 'Pants', 'Mrs.', 'Smith', 'Zorro', 'Elektra', 'Corpse', 'Were-Rabbit', 'Rumor', 'It...', 'Jacket', 'Jarhead', 'Herbie', 'Fully', 'Loaded', 'Elizabethtown', 'Hoodwinked!', 'Hide', 'Seek', 'Bewitched', 'Doom', 'Fever', 'Proof', 'Interpreter', 'Grimm', 'Hostage', 'Dukes', 'Hazzard', 'Munich', 'Emily', 'Rose', 'Thank', 'Smoking', 'Syriana', 'Derailed', 'Skeleton', 'Key', 'Racing', 'Stripes', 'Night,', 'Luck.', 'Coach', 'History', 'Violence', 'Amityville', 'Horror', 'Dick', 'Jane', 'Unleashed', 'Rebound', 'Guess', 'Flightplan', 'Assault', 'Precinct', '13', 'Flowers', 'Weather', 'Line', 'Lot', 'Rich', "Tryin'", 'Kicking', 'Screaming', 'Cursed', 'Yard', 'There', 'Yet?', 'Sound', 'Fog', 'Stealth', 'BloodRayne', 'Sahara', 'Matador', 'Capote', 'Valiant', 'Constant', 'Gardener', 'Wax', 'Raid', 'Domino', 'Beauty', 'Shop', 'Sharkboy', 'Lavagirl', 'Greatest', 'Ever', 'Played', 'Burials', 'Melquiades', 'Estrada', 'Goal!:', 'Noise', 'Illuminated', 'Yours,', 'Mine', 'Ours', 'Flow', 'Alone', 'Boogeyman', 'Cave'

In [151]:
len(word_list)

2477

In [152]:
answer_ls.append(3)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [60]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
display(data.sort_values('vote_average'))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
966,tt0295254,0.231392,40000000,18902015,FearDotCom,Stephen Dorff|Natascha McElhone|Stephen Rea|Ud...,William Malone,The last site you'll ever see.,"With four corpses on his hands, New York City ...",101,Horror|Thriller,Milagro Films|Franchise Pictures|DoRo Fiction ...,8/9/2002,46,3.3,2002,-21097985
710,tt1213644,0.812489,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,130,3.3,2008,-10890716
1162,tt0317676,0.422393,7000000,13818181,House of the Dead,Jonathan Cherry|Tyron Leitso|Clint Howard|Ona ...,Uwe Boll,You won't last the night.,"Set on an island off the coast, a techno rave ...",90,Horror|Action|Thriller,Boll Kino Beteiligungs GmbH & Co. KG|Brightlig...,4/11/2003,35,3.4,2003,6818181
1761,tt0799949,0.571060,20000000,86865564,Epic Movie,Kal Penn|Adam Campbell|Jennifer Coolidge|Jayma...,Jason Friedberg|Aaron Seltzer,We know it's big. We measured.,"When Edward, Peter, Lucy and Susan each follow...",86,Action|Adventure|Comedy,Twentieth Century Fox Film Corporation|Regency...,1/25/2007,170,3.4,2007,66865564
1176,tt0339034,0.135162,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,12,3.5,2003,-7077834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,29401758
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,219555708
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [63]:
data['cast'] = data.cast.apply(cast_list)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502

In [94]:
def cast_counter(cast_list):
    cast_count = 0
    if (x in cast_list) and (y in cast_list):
        cast_count +=1
    else:
        cast_count = cast_count
    return cast_count

In [96]:
cast_count = 0
x = 'Johnny Depp'
y = 'Helena Bonham Carter'
cast_list = ['Johnny Depp', 'Helena Bonham Carter']
cast_counter(cast_list)

0

In [114]:
x = 'Daniel Radcliffe'
y = 'Rupert Grint'
data['flag'] = data.cast.apply(cast_counter)

In [115]:
new_df = data[data.flag == 1]
new_df.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,income,flag
count,8.000000,8.000000e+00,8.000000e+00,8.000000,8.00000,8.000000,8.000000,8.000000e+00,8.0
mean,5.788532,1.600000e+08,9.616482e+08,147.250000,3562.25000,7.337500,2006.125000,8.016482e+08,1.0
std,1.021262,5.775564e+07,1.588972e+08,10.443727,321.43373,0.168502,3.720119,1.735243e+08,0.0
min,4.840588,1.000000e+08,7.898046e+08,130.000000,3220.00000,7.200000,2001.000000,6.598046e+08,1.0
25%,5.026895,1.250000e+08,8.911129e+08,140.250000,3400.00000,7.200000,2003.500000,6.992192e+08,1.0
50%,5.769548,1.400000e+08,9.360860e+08,149.000000,3462.50000,7.300000,2006.000000,7.613048e+08,1.0
75%,5.958091,1.750000e+08,9.598483e+08,154.000000,3600.00000,7.400000,2009.250000,8.040284e+08,1.0
max,8.021423,2.500000e+08,1.327818e+09,161.000000,4265.00000,7.700000,2011.000000,1.202818e+09,1.0

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [12]:
data = pd.read_csv('data.csv')
data['income']=data['revenue'] - data['budget']
display(data.sort_values('vote_average'))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
966,tt0295254,0.231392,40000000,18902015,FearDotCom,Stephen Dorff|Natascha McElhone|Stephen Rea|Ud...,William Malone,The last site you'll ever see.,"With four corpses on his hands, New York City ...",101,Horror|Thriller,Milagro Films|Franchise Pictures|DoRo Fiction ...,8/9/2002,46,3.3,2002,-21097985
710,tt1213644,0.812489,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,130,3.3,2008,-10890716
1162,tt0317676,0.422393,7000000,13818181,House of the Dead,Jonathan Cherry|Tyron Leitso|Clint Howard|Ona ...,Uwe Boll,You won't last the night.,"Set on an island off the coast, a techno rave ...",90,Horror|Action|Thriller,Boll Kino Beteiligungs GmbH & Co. KG|Brightlig...,4/11/2003,35,3.4,2003,6818181
1761,tt0799949,0.571060,20000000,86865564,Epic Movie,Kal Penn|Adam Campbell|Jennifer Coolidge|Jayma...,Jason Friedberg|Aaron Seltzer,We know it's big. We measured.,"When Edward, Peter, Lucy and Susan each follow...",86,Action|Adventure|Comedy,Twentieth Century Fox Film Corporation|Regency...,1/25/2007,170,3.4,2007,66865564
1176,tt0339034,0.135162,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,12,3.5,2003,-7077834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,29401758
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,219555708
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [13]:
def cast_list(x):
    list_cast = x.split('|')
    return list_cast

In [15]:
data['director'] = data.director.apply(cast_list)

In [16]:
new_df = data.explode('director')

In [19]:
def income_flag(x):
    flag = 0
    if x >0:
        flag = 1
    else:
        flag = 0
    return flag

In [20]:
new_df['flag'] = new_df.income.apply(income_flag)
display(new_df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income,flag
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,1
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,1
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,1
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,1
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717,1
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012,0
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180,0
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091,0
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502,0

In [31]:
x = 'Clint Eastwood'
total = 0
good = 0
total = len(new_df[new_df.director == x])
good = len(new_df[(new_df.director == x) & (new_df.flag ==1)])
result = good / total
print(result)

0.8333333333333334

# Submission

In [153]:
len(answer_ls)

32

In [154]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       1
11  12       1
12  13       1
13  14       4
14  15       5
15  16       1
16  17       3
17  18       1
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       3